---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/MSFT/chart/date/20201110?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '50'
      Iexcloud-Premium-Messages-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2020-11-10","minute":"09:30","label":"09:30 AM","high":215.09,"low":214.38,"average":214.781,"volume":13060,"notional":2805036.975,"numberOfTrades":134,"marketHigh":215.13,"marketLow":214.29,"marketAverage":214.54,"marketVolume":793752,"marketNotional":170291323.3126,"marketNumberOfTrades":1529,"open":214.43,"close":214.95,"marketOpen":214.5,"marketClose":214.99,"changeOverTime":0,"marketChangeOverTime":0},{"date":"2020-11-10","minute":"09:31","label":"09:31
        AM","high":216.085,"low":214.975,"average":215.561,"volume":7227,"notional":1557862.63,"numberOfTrades":77,"marketHigh":216.09,"marketLow":214.93,"marketAverage":215.428,"marketVolume":196848,"marketNotional":42406508.2427,"marketNumberOfTrades":1144,"open":214.975,"close":216.085,"marketOpen":215,"marketClose":216.03,"changeOverTime":0.0036316061476573866,"marketChangeOverTime":0.004139088281905496},{"date":"2020-11-10","minute":"0[...]
