---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/MSFT/chart?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '230'
      Iexcloud-Premium-Messages-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2020-10-07","open":207.06,"close":209.83,"high":210.11,"low":206.72,"volume":25681054,"uOpen":207.06,"uClose":209.83,"uHigh":210.11,"uLow":206.72,"uVolume":25681054,"change":0,"changePercent":0,"label":"Oct
        7","changeOverTime":0},{"date":"2020-10-08","open":210.51,"close":210.58,"high":211.19,"low":208.32,"volume":19925837,"uOpen":210.51,"uClose":210.58,"uHigh":211.19,"uLow":208.32,"uVolume":19925837,"change":0.75,"changePercent":0.3574,"label":"Oct
        8","changeOverTime":0.003574},{"date":"2020-10-09","open":211.23,"close":215.81,"high":215.86,"low":211.23,"volume":26458047,"uOpen":211.23,"uClose":215.81,"uHigh":215.86,"uLow":211.23,"uVolume":26458047,"change":5.23,"changePercent":2.4836,"label":"Oct
        9",[...]
