---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/MSFT/chart/date/20201110?chartByDay=true&token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '2'
      Iexcloud-Premium-Messages-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2020-11-10","uClose":211.01,"uOpen":214.5,"uHigh":216.5,"uLow":209.72,"uVolume":44045120,"close":211.01,"open":214.5,"high":216.5,"low":209.72,"volume":44045120,"currency":"","change":-7.38,"changePercent":-3.3793,"label":"Nov
        10","changeOverTime":-0.033793}]'
  recorded_at: Sat, 14 Nov 2020 17:05:44 GMT
recorded_with: VCR 6.0.0
