---
http_interactions:
  - request:
      method: get
      uri: https://cloud.iexapis.com/v1/ref-data/exchange/TSX/symbols?token=test-iex-api-publishable-token
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json; charset=utf-8
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Iexcloud-Messages-Used:
          - "100"
        Iexcloud-Premium-Messages-Used:
          - "0"
      body:
        encoding: ASCII-8BIT
        string:
          '[{"symbol":"A-CT","exchange":"XTSE","exchangeSuffix":"CT","exchangeName":"Toronto Stock Exchange","exchangeSegment":"XTSE","exchangeSegmentName":"Toronto Stock Exchange","name":"Aurigen Capital Limited","date":"2021-12-20","type":"cs","iexId":null,"region":"CA","currency":"CAD","isEnabled":true,"figi":null,"cik":null,"lei":null},{"symbol":"AAB-CT","exchange":"XTSE","exchangeSuffix":"CT","exchangeName":"Toronto Stock Exchange","exchangeSegment":"XTSE","exchangeSegmentName":"Toronto Stock Exchange","name":"Aberdeen International Inc","date":"2021-12-20","type":"cs","iexId":"IEX_474334324A432D52","region":"CA","currency":"CAD","isEnabled":true,"figi":"BBG000D2T2D0","cik":null,"lei":null},{"symbol":"AAV-CT","exchange":"XTSE","exchangeSuffix":"CT","exchangeName":"Toronto Stock Exchange","exchangeSegment":"XTSE","exchan[...]
