---
http_interactions:
  - request:
      method: get
      uri: https://cloud.iexapis.com/v1/ref-data/exchange/TSX/symbols?token=test-iex-api-publishable-token
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json; charset=utf-8
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Iexcloud-Messages-Used:
          - "100"
        Iexcloud-Premium-Messages-Used:
          - "0"
      body:
        encoding: ASCII-8BIT
        string:
          '[{"symbol":"A-CV","exchange":"TSX","name":"Armor Minerals Inc","date":"2021-05-14","type":"cs","iex_id":"IEX_4656374258322D52","region":"CA","currency":"CAD","enabled":true,"figi":"BBG000V98LH2","cik":"0001682145"},
          {"symbol":"AAC.P-CV","exchange":"TSX","name":"Anacott Acquisition Corporation","date":"2021-05-14","type":"cs","iex_id":null,"region":"CA","currency":"CAD","enabled":true,"figi":"BBG0100SGM64","cik":null},
          {"symbol":"AAG-CV","exchange":"TSX","name":"Aftermath Silver Ltd","date":"2021-05-14","type":"cs","iex_id":"IEX_4A3151575A5A2D52","region":"CA","currency":"CAD","enabled":true,"figi":"BBG001WL6C11","cik":"0001526535"},
          {"symbol":"AAN-CV","exchange":[...]
