---
http_interactions:
- request:
    method: post
    uri: https://cloud.iexapis.com/v1/ref-data/isin
    body:
      encoding: UTF-8
      string: '{"token":"test-iex-api-publishable-token","isin":["US0378331005","US5949181045"],"mapped":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '100'
      Iexcloud-Premium-Messages-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"US0378331005":[{"symbol":"AAPL","region":"US","exchange":"NAS","iexId":"IEX_4D48333344362D52"},{"symbol":"APC-GY","region":"DE","exchange":"ETR","iexId":"IEX_464D46474C312D52"}],"US5949181045":[{"symbol":"MSFT","region":"US","exchange":"NAS","iexId":"IEX_5038523343322D52"},{"symbol":"MSF-GY","region":"DE","exchange":"ETR","iexId":"IEX_4C42583859482D52"},{"symbol":"MSF-BB","region":"BE","exchange":"BRU","iexId":"IEX_5833345950432D52"}]}'
  recorded_at: Wed, 04 Mar 2020 09:45:05 GMT
recorded_with: VCR 5.1.0
