---
http_interactions:
- request:
    method: post
    uri: https://cloud.iexapis.com/v1/ref-data/isin
    body:
      encoding: UTF-8
      string: '{"isin":["US0378331005"],"token":"test-iex-api-secret-token"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '100'
      Iexcloud-Premium-Messages-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"AAPL","region":"US","exchange":"NAS","iexId":"IEX_4D48333344362D52"},{"symbol":"APC-GY","region":"DE","exchange":"ETR","iexId":"IEX_464D46474C312D52"}]'
  recorded_at: Wed, 26 Feb 2020 20:04:36 GMT
recorded_with: VCR 5.1.0
