---
http_interactions:
  - request:
      method: get
      uri: https://cloud.iexapis.com/v1/ref-data/region/ca/symbols?token=test-iex-api-publishable-token
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json; charset=utf-8
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Iexcloud-Messages-Used:
          - "100"
        Iexcloud-Premium-Messages-Used:
          - "0"
      body:
        encoding: ASCII-8BIT
        string:
          '[{"symbol":"A-CT","exchange":"XTSE","exchangeSuffix":"CT","exchangeName":"Toronto Stock Exchange","exchangeSegment":"XTSE","exchangeSegmentName":"Toronto Stock Exchange","name":"Aurigen Capital Limited","date":"2021-12-20","type":"cs","iexId":null,"region":"CA","currency":"CAD","isEnabled":true,"figi":null,"cik":null,"lei":null},{"symbol":"A-CV","exchange":"XTSX","exchangeSuffix":"CV","exchangeName":"Tsx Venture Exchange","exchangeSegment":"XTSX","exchangeSegmentName":"Tsx Venture Exchange","name":"Armor Minerals Inc","date":"2021-12-20","type":"cs","iexId":"IEX_4656374258322D52","region":"CA","currency":"CAD","isEnabled":true,"figi":"BBG000V98LH2","cik":"0001682145","lei":null},{"symbol":"AAB-CT","exchange":"XTSE","exchangeSuffix":"CT","exchangeName":"Toronto Stock Exchange","exchangeSegment":"XTSE","exchangeSegm[...]
