---
http_interactions:
- request:
    method: post
    uri: https://cloud.iexapis.com/v1/ref-data/isin
    body:
      encoding: UTF-8
      string: '{"token":"test-iex-api-publishable-token","isin":["WRONG12345"],"mapped":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '100'
      Iexcloud-Premium-Messages-Used:
      - '0'
    body:
      encoding: UTF-8
      string: '{"WRONG12345":null}'
  recorded_at: Wed, 25 Mar 2020 10:15:28 GMT
recorded_with: VCR 5.1.0
