---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/MSFT/estimates
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; frame-src 'self'; connect-src 'self' https://auth.iextrading.com
        https://api.iextrading.com https://api.iextrading.com wss://iextrading.com
        wss://tops.iextrading.com wss://api.iextrading.com wss://iextrading.com; script-src
        'self' 'unsafe-inline' 'unsafe-eval';
      Frame-Options:
      - SAMEORIGIN
    body:
      encoding: UTF-8
      string: '{"symbol":"MSFT", "estimates":[{"consensusEPS": 2.02,"numberOfEstimates": 14,"fiscalPeriod": "Q2 2017","fiscalEndDate": "2017-03-31","reportDate": "2017-04-15"}]}'
  recorded_at: Wed, 15 Aug 2018 01:14:34 GMT
recorded_with: VCR 4.0.0
