---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/MSFT/stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; frame-src 'self'; connect-src 'self' https://auth.iextrading.com
        https://api.iextrading.com https://api.iextrading.com wss://iextrading.com
        wss://tops.iextrading.com wss://api.iextrading.com wss://iextrading.com; script-src
        'self' 'unsafe-inline' 'unsafe-eval';
      Frame-Options:
      - SAMEORIGIN
    body:
      encoding: UTF-8
      string: '{"companyName":"Microsoft Corporation","marketcap":825814890000,"beta":1.261768,"week52high":111.15,"week52low":71.28,"week52change":51.7715,"shortInterest":47158592,"shortDate":"2018-07-13","dividendRate":1.68,"dividendYield":1.5617738,"exDividendDate":"2018-08-15
        00:00:00.0","latestEPS":2.11,"latestEPSDate":"2018-06-30","sharesOutstanding":7677000000,"float":7217387757,"returnOnEquity":20.82,"consensusEPS":0.86,"numberOfEstimates":14,"EPSSurpriseDollar":null,"EPSSurprisePercent":11.6279,"symbol":"MSFT","EBITDA":23558000000,"revenue":53456000000,"grossProfit":34114000000,"cash":281251000000,"debt":180503000000,"ttmEPS":3.51,"revenuePerShare":7,"revenuePerEmployee":431097,"peRatioHigh":0,"peRatioLow":0,"returnOnAssets":6.46,"returnOnCapital":null,"profitMargin":15.1,"priceToSales":7.393182,"priceToBook":10.73,"day200MovingAvg":91.99065,"day50MovingAvg":102.2528,"institutionPercent":75.1,"insiderPercent":null,"shortRatio":1.7330703,"year5ChangePercent":2.85141424991049,"year2ChangePercent":0.9732002824884664,"year1ChangePercent":0.5200287133805482,"ytdChangePercent":0.2628699562098638,"month6ChangePercent":0.23345097958275707,"month3ChangePercent":0.14846686026648437,"month1ChangePercent":0.08601716304896513,"day5ChangePercent":-0.0010215453194652084,"day30ChangePercent":0.06357524223848124}'
  recorded_at: Fri, 03 Aug 2018 23:45:26 GMT
recorded_with: VCR 4.0.0
