---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/MSFT/advanced-stats?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: The API key provided is not valid.
  recorded_at: Wed, 19 Jun 2019 19:05:36 GMT
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/MSFT/advanced-stats?token=pk_7c131cc2187b4c5583fc16816b5cf05e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '3005'
    body:
      encoding: ASCII-8BIT
      string: '{"week52change":0.310075,"week52high":134.08,"week52low":93.96,"marketcap":1016089932000,"employees":131000,"day200MovingAvg":112.67,"day50MovingAvg":124.74,"float":7362677446,"avg10Volume":26348194.7,"avg30Volume":25394106.67,"ttmEPS":4.54,"ttmDividendRate":1.8,"companyName":"Microsoft Corp.","sharesOutstanding":7662820000,"maxChangePercent":4.262834,"year5ChangePercent":2.250476,"year2ChangePercent":0.858863,"year1ChangePercent":0.312222,"ytdChangePercent":0.311313,"month6ChangePercent":0.221107,"month3ChangePercent":0.175219,"month1ChangePercent":0.07499,"day30ChangePercent":0.021808,"day5ChangePercent":0.076648,"nextDividendDate":"2019-05-21","dividendYield":0.013574660633484163,"nextEarningsDate":"2019-07-29","exDividendDate":"2019-05-24","peRatio":29.1,"beta":1.4223550706277208,"totalCash":133768000000,"currentDebt":5573000000,"revenue":110175000000,"grossProfit":71205000000,"totalRevenue":110175000000,"EBITDA":44827000000,"revenuePerShare":0.07,"revenuePerEmployee":841030.53,"debtToEquity":1.06,"profitMargin":0.15040617199909234,"enterpriseValue":969829932000,"enterpriseValueToRevenue":8.8,"priceToSales":9.22,"priceToBook":12.237463695930751,"forwardPERatio":28.84,"pegRatio":1.46,"peHigh":"29.729490022172953","peLow":"20.83370288248337"}'
  recorded_at: Wed, 19 Jun 2019 19:12:30 GMT
recorded_with: VCR 5.0.0
