---
http_interactions:
- request:
    method: get
    uri: https://cloud-sse.iexapis.com/v1/stocksUS5Second?symbols=SPY&token=test-iex-api-secret-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '2'
      Iexcloud-Credits-Used:
      - '2'
      Iexcloud-Premium-Messages-Used:
      - '0'
      Iexcloud-Premium-Credits-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: "data: [{\"avgTotalVolume\":68745683,\"calculationPrice\":\"close\",\"change\":-0.41,\"changePercent\":-0.00094,\"close\":433.63,\"closeSource\":\"official\",\"closeTime\":1632254400206,\"companyName\":\"SSgA Active Trust - S&P 500 ETF TRUST ETF\",\"currency\":\"USD\",\"delayedPrice\":433.72,\"delayedPriceTime\":1632254399904,\"extendedChange\":-0.9,\"extendedChangePercent\":-0.00208,\"extendedPrice\":432.73,\"extendedPriceTime\":1632256104619,\"high\":437.91,\"highSource\":\"15 minute delayed price\",\"highTime\":1632254404318,\"iexAskPrice\":432.81,\"iexAskSize\":500,\"iexBidPrice\":432.76,\"iexBidSize\":500,\"iexClose\":433.63,\"iexCloseTime\":1632254398127,\"iexLastUpdated\":1632256104619,\"iexMarketPercent\":0.013629911270082975,\"iexOpen\":432.73,\"iexOpenTime\":1632256104619,\"iexRealtimePrice\":432.73,\"iexRealtimeSize\":1,\"iexVolume\":1244956,\"lastTradeTime\":1632254418262,\"latestPrice\":433.63,\"latestSource\":\"Close\",\"latestTime\":\"September 21, 2021\",\"latestUpdate\":1632254400206,\"latestVolume\":91339993,\"low\":433.07,\"lowSource\":\"15 minute delayed price\",\"lowTime\":1632236056745,\"marketCap\":397369859400,\"oddLotDelayedPrice\":433.67,\"oddLotDelayedPriceTime\":1632254396989,\"open\":436.63,\"openTime\":1632231000366,\"openSource\":\"official\",\"peRatio\":null,\"previousClose\":434.04,\"previousVolume\":166445534,\"primaryExchange\":\"NYSE ARCA\",\"symbol\":\"SPY\",\"volume\":91339993,\"week52High\":452.6,\"week52Low\":315.36,\"ytdChange\":0.1713227149749243,\"isUSMarketOpen\":false}]\r\n\r\n"
  recorded_at: Tue, 21 Sep 2021 20:29:16 GMT
recorded_with: VCR 5.1.0
