---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/MSFT/company
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; connect-src 'self' https://auth.iextrading.com
        wss://iextrading.com wss://tops.iextrading.com; script-src 'self';
      Frame-Options:
      - deny
    body:
      encoding: UTF-8
      string: '{"symbol":"MSFT","companyName":"Microsoft Corporation","exchange":"Nasdaq
        Global Select","industry":"Application Software","website":"http://www.microsoft.com","description":"Microsoft
        Corp is a technology company. It develop, license, and support a wide range
        of software products and services. Its business is organized into three segments:
        Productivity and Business Processes, Intelligent Cloud, and More Personal
        Computing.","CEO":"Satya Nadella","issueType":"cs","sector":"Technology"}'
  recorded_at: Mon, 26 Mar 2018 20:47:50 GMT
recorded_with: VCR 4.0.0
