---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/MSFT/quote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; frame-src 'self'; connect-src 'self' https://auth.iextrading.com
        https://api.iextrading.com https://api.iextrading.com wss://iextrading.com
        wss://tops.iextrading.com wss://api.iextrading.com wss://iextrading.com; script-src
        'self' 'unsafe-inline' 'unsafe-eval';
      Frame-Options:
      - SAMEORIGIN
    body:
      encoding: UTF-8
      string: '{"symbol":"MSFT","companyName":"Microsoft Corporation","primaryExchange":"Nasdaq
        Global Select","sector":"Technology","calculationPrice":"close","open":98.3,"openTime":1527255000372,"close":98.36,"closeTime":1527278400376,"high":null,"low":null,"latestPrice":98.36,"latestSource":"Close","latestTime":"May
        25, 2018","latestUpdate":1527278400376,"latestVolume":17944712,"iexRealtimePrice":null,"iexRealtimeSize":null,"iexLastUpdated":null,"delayedPrice":98.36,"delayedPriceTime":1527281515371,"extendedPrice":98.48,"extendedChange":0.12,"extendedChangePercent":0.00122,"extendedPriceTime":1527281940950,"previousClose":98.31,"change":0.05,"changePercent":0.00051,"iexMarketPercent":null,"iexVolume":null,"avgTotalVolume":25656536,"iexBidPrice":null,"iexBidSize":null,"iexAskPrice":null,"iexAskSize":null,"marketCap":755719306395,"peRatio":29.1,"week52High":98.98,"week52Low":68.02,"ytdChange":0.15474471407271742}'
  recorded_at: Sat, 26 May 2018 22:44:50 GMT
recorded_with: VCR 4.0.0
