---
http_interactions:
  - request:
      method: get
      uri: https://cloud.iexapis.com/v1/stock/MSFT/quote?token=test-iex-api-publishable-token
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Content-Security-Policy:
          - "default-src 'self'; child-src 'none'; object-src 'self'; style-src
            'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self'
            https://js.intercomcdn.com/fonts/ https://fonts.gstatic.com; frame-src 'self'
            https://portal.productboard.com/ https://js.stripe.com/; img-src 'self'
            data: https://*.intercomcdn.com/ https://static.intercomassets.com/ https://www.google-analytics.com
            https://downloads.intercomcdn.com/; connect-src 'self' https://auth.iexcloud.io
            https://api.iexcloud.io https://api.iexcloud.io https://cloud.iexapis.com
            wss://iexcloud.io wss://tops.iexcloud.io wss://api.iexcloud.io wss://iexcloud.io
            https://api-iam.intercom.io/messenger/ https://nexus-websocket-a.intercom.io/
            https://nexus-websocket-b.intercom.io/ wss://nexus-websocket-a.intercom.io/
            wss://nexus-websocket-b.intercom.io/ https://www.google-analytics.com; script-src
            'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com/recaptcha/api.js
            https://www.google-analytics.com https://js.stripe.com/v3/ https://widget.intercom.io/widget/lhos563b
            https://js.intercomcdn.com/ https://www.googletagmanager.com;"
        Frame-Options:
          - SAMEORIGIN
      body:
        encoding: ASCII-8BIT
        string:
          '{"symbol":"MSFT","companyName":"Microsoft Corp.","calculationPrice":"close","open":120,"openTime":1554384600420,"close":119.36,"closeTime":1554408000193,"high":120.23,"low":118.38,"latestPrice":119.36,"latestSource":"Close","latestTime":"April
          4, 2019","latestUpdate":1554408000193,"latestVolume":20088221,"iexRealtimePrice":119.32,"iexRealtimeSize":194,"iexLastUpdated":1554407999529,"delayedPrice":119.3,"delayedPriceTime":1554409048425,"extendedPrice":119.35,"extendedChange":-0.01,"extendedChangePercent":-0.00008,"extendedPriceTime":1554421143197,"previousClose":119.97,"change":-0.61,"changePercent":-0.00508,"iexMarketPercent":0.022731032280061035,"iexVolume":456626,"avgTotalVolume":26850742,"iexBidPrice":0,"iexBidSize":0,"iexAskPrice":0,"iexAskSize":0,"marketCap":915754985600,"peRatio":27.44,"week52High":120.82,"week52Low":87.73,"ytdChange":0.181332}'
    recorded_at: Fri, 05 Apr 2019 02:54:03 GMT
recorded_with: VCR 4.0.0
