---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/MSFT/quote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; frame-src 'self'; connect-src 'self' https://auth.iextrading.com
        https://api.iextrading.com https://api.iextrading.com wss://iextrading.com
        wss://tops.iextrading.com wss://api.iextrading.com wss://iextrading.com; script-src
        'self' 'unsafe-inline' 'unsafe-eval';
      Frame-Options:
      - SAMEORIGIN
    body:
      encoding: UTF-8
      string: '{"symbol":"MSFT","companyName":"Microsoft Corporation","primaryExchange":"Nasdaq
        Global Select","sector":"Technology","calculationPrice":"tops","open":97.71,"openTime":1526995800716,"close":97.6,"closeTime":1526932800235,"high":98.17,"low":97.2,"latestPrice":97.54,"latestSource":"IEX
        real time price","latestTime":"3:59:47 PM","latestUpdate":1527019187506,"latestVolume":13670424,"iexRealtimePrice":97.54,"iexRealtimeSize":100,"iexLastUpdated":1527019187506,"delayedPrice":97.375,"delayedPriceTime":1527019077341,"extendedPrice":97.71,"extendedPriceTime":1526995800696,"previousClose":97.6,"change":-0.06,"changePercent":-0.00061,"iexMarketPercent":0.01322,"iexVolume":180723,"avgTotalVolume":26330377,"iexBidPrice":0,"iexBidSize":0,"iexAskPrice":0,"iexAskSize":0,"marketCap":749419084443,"peRatio":28.86,"week52High":98.69,"week52Low":67.5,"ytdChange":0.14582232709940235}'
  recorded_at: Tue, 22 May 2018 20:12:59 GMT
recorded_with: VCR 4.0.0
