---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/MSFT/chart/dynamic?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"range":"1m","data":[{"date":"2019-07-10","label":"Jul 10","high":138.58,"low":137.02,"open":137.13,"close":137.85,"volume":24204362},{"date":"2019-07-11","label":"Jul
        11","high":139.22,"low":137.87,"open":138.2,"close":138.4,"volume":22327942},{"date":"2019-07-12","label":"Jul
        12","high":139.13,"low":138,"open":138.85,"close":138.9,"volume":18936832},{"date":"2019-07-15","label":"Jul
        15","high":139.54,"low":138.46,"open":139.44,"close":138.9,"volume":16651457},{"date":"2019-07-16","label":"Jul
        16","high":139.05,"low":136.52,"open":138.96,"close":137.08,"volume":22726128},{"date":"2019[...]
