---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/MSFT/income?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '1000'
      Iexcloud-Premium-Messages-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"MSFT","income":[{"reportDate":"2020-09-30","fiscalDate":"2020-09-30","currency":"USD","totalRevenue":37154000000,"costOfRevenue":11002000000,"grossProfit":26152000000,"researchAndDevelopment":4926000000,"sellingGeneralAndAdmin":5350000000,"operatingExpense":21278000000,"operatingIncome":15876000000,"otherIncomeExpenseNet":248000000,"ebit":15876000000,"interestIncome":589000000,"pretaxIncome":16124000000,"incomeTax":2231000000,"minorityInterest":0,"netIncome":13893000000,"netIncomeBasic":13893000000}]}'
  recorded_at: Sat, 07 Nov 2020 21:59:07 GMT
recorded_with: VCR 6.0.0
