---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/aapl/largest-trades
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; frame-src 'self'; connect-src 'self' https://auth.iextrading.com
        https://api.iextrading.com https://api.iextrading.com wss://iextrading.com
        wss://tops.iextrading.com wss://api.iextrading.com wss://iextrading.com; script-src
        'self' 'unsafe-inline' 'unsafe-eval';
      Frame-Options:
      - SAMEORIGIN
    body:
      encoding: ASCII-8BIT
      string: '[{"price":217.76,"size":9000,"time":1539699300665,"timeLabel":"10:15:00","venue":"None","venueName":"Off
        Exchange"},{"price":217.36,"size":8171,"time":1539699439595,"timeLabel":"10:17:19","venue":"XNGS","venueName":"Nasdaq"},{"price":218.671,"size":7444,"time":1539697175918,"timeLabel":"09:39:35","venue":"None","venueName":"Off
        Exchange"},{"price":218.09,"size":7220,"time":1539698909729,"timeLabel":"10:08:29","venue":"None","venueName":"Off
        Exchange"},{"price":217.81,"size":6300,"time":1539699334482,"timeLabel":"10:15:34","venue":"None","venueName":"Off
        Exchange"},{"price":218.7,"size":6000,"time":1539696843070,"timeLabel":"09:34:03","venue":"None","venueName":"Off
        Exchange"},{"price":218.258,"size":6000,"time":1539696980111,"timeLabel":"09:36:20","venue":"None","venueName":"Off
        Exchange"},{"price":218.62,"size":6000,"time":1539697154187,"timeLabel":"09:39:14","venue":"None","venueName":"Off
        Exchange"},{"price":216.963,"size":6000,"time":1539700749730,"timeLabel":"10:39:09","venue":"None","venueName":"Off
        Exchange"},{"price":216.87,"size":5986,"time":1539700719236,"timeLabel":"10:38:39","venue":"None","venueName":"Off
        Exchange"}]'
  recorded_at: Tue, 16 Oct 2018 15:01:59 GMT
recorded_with: VCR 4.0.0
