---
http_interactions:
  - request:
      method: get
      uri: https://cloud.iexapis.com/v1/stock/aapl/largest-trades?token=test-iex-api-publishable-token
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Content-Security-Policy:
          - "default-src 'self'; child-src 'none'; object-src 'self'; style-src
            'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self'
            https://js.intercomcdn.com/fonts/ https://fonts.gstatic.com; frame-src 'self'
            https://portal.productboard.com/ https://js.stripe.com/; img-src 'self'
            data: https://*.intercomcdn.com/ https://static.intercomassets.com/ https://www.google-analytics.com
            https://downloads.intercomcdn.com/; connect-src 'self' https://auth.iexcloud.io
            https://api.iexcloud.io https://api.iexcloud.io https://cloud.iexapis.com
            wss://iexcloud.io wss://tops.iexcloud.io wss://api.iexcloud.io wss://iexcloud.io
            https://api-iam.intercom.io/messenger/ https://nexus-websocket-a.intercom.io/
            https://nexus-websocket-b.intercom.io/ wss://nexus-websocket-a.intercom.io/
            wss://nexus-websocket-b.intercom.io/ https://www.google-analytics.com; script-src
            'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com/recaptcha/api.js
            https://www.google-analytics.com https://js.stripe.com/v3/ https://widget.intercom.io/widget/lhos563b
            https://js.intercomcdn.com/ https://www.googletagmanager.com;"
        Frame-Options:
          - SAMEORIGIN
      body:
        encoding: ASCII-8BIT
        string:
          '[{"price":195.82,"size":18400,"time":1554403101504,"timeLabel":"14:38:21","venue":"None","venueName":"Off
          Exchange"},{"price":195.65,"size":17425,"time":1554402911513,"timeLabel":"14:35:11","venue":"EDGX","venueName":"Cboe
          EDGX"},{"price":195.78,"size":16239,"time":1554386370632,"timeLabel":"09:59:30","venue":"None","venueName":"Off
          Exchange"},{"price":195.71,"size":15000,"time":1554387662189,"timeLabel":"10:21:02","venue":"None","venueName":"Off
          Exchange"},{"price":195.45,"size":14535,"time":1554407418067,"timeLabel":"15:50:18","venue":"XNGS","venueName":"Nasdaq"},{"price":195.5,"size":13836,"time":1554396175246,"timeLabel":"12:42:55","venue":"XNGS","venueName":"Nasdaq"},{"price":195.67,"size":12500,"time":1554396109390,"timeLabel":"12:41:49","venue":"None","venueName":"Off
          Exchange"},{"price":195,"size":11240,"time":1554388349466,"timeLabel":"10:32:29","venue":"BATS","venueName":"Cboe
          BZX"},{"price":195.9,"size":11071,"time":1554384911335,"timeLabel":"09:35:11","venue":"ARCX","venueName":"NYSE
          Arca"},{"price":195,"size":10793,"time":1554388349468,"timeLabel":"10:32:29","venue":"None","venueName":"Off
          Exchange"}]'
    recorded_at: Fri, 05 Apr 2019 03:09:06 GMT
recorded_with: VCR 4.0.0
