---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/market/today-ipos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; connect-src 'self' https://auth.iextrading.com
        wss://iextrading.com wss://tops.iextrading.com; script-src 'self';
      Frame-Options:
      - deny
    body:
      encoding: UTF-8
      string: '{"rawData":[{"symbol":"UPWK","companyName":"UPWORK INC.","expectedDate":"2018-10-03","leadUnderwriters":["Citigroup Global Markets Inc","Jefferies LLC","RBC Capital Markets, LLC"],"underwriters":["JMP Securities LLC","Stifel Nicolaus & Company, Incorporated"],"companyCounsel":["Fenwick & West LLP"],"underwriterCounsel":["Wilson Sonsini Goodrich & Rosati, P.C."],"auditor":"Computershare Trust Company, N.A","market":"NASDAQ Global Select","cik":"0001627475","address":"441 LOGUE AVENUE","city":"MOUNTAIN VIEW","state":"CA","zip":"94043","phone":"650-316-7500","ceo":"Stephane Kasriel","employees":395,"url":"www.upwork.com","status":"Filed","sharesOffered":12300000,"priceLow":12,"priceHigh":14,"offerAmount":null,"totalExpenses":6000000,"sharesOverAlloted":1844999,"shareholderShares":5481819,"sharesOutstanding":104079498,"lockupPeriodExpiration":"","quietPeriodExpiration":"","revenue":121899000,"netIncome":-7196000,"totalAssets":290263000,"totalLiabilities":154388000,"stockholderEquity":-30611000,"companyDescription":"Our mission is to create economic opportunities so people have better lives...Our telephone &#10; number is (650) 316-7500. Our website address is www.upwork.com.","businessDescription":"Our mission is to create economic opportunities so people have better lives...Our telephone &#10; number is (650) 316-7500. Our website address is www.upwork.com.","useOfProceeds":"We estimate that the net proceeds from the sale by us of 6,818,181 shares of...commercial paper, and guaranteed obligations of the U.S. government.","competition":"The market for freelancers and the clients... We believe that we compete favorably with respect to these factors.","amount":159900000,"percentOffered":"11.82"}],"viewData":[{"Company":"UPWORK INC.","Symbol":"UPWK","Price":"$12.00 - 14.00","Shares":"12,300,000","Amount":"159,900,000","Float":"104,079,498","Percent":"11.82%","Market":"NASDAQ Global Select","Expected":"2018-10-03"}],"lastUpdate":"2018-10-02"}'
  recorded_at: Mon, 26 Mar 2018 20:47:50 GMT
recorded_with: VCR 4.0.0

