---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/market/upcoming-ipos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; connect-src 'self' https://auth.iextrading.com
        wss://iextrading.com wss://tops.iextrading.com; script-src 'self';
      Frame-Options:
      - deny
    body:
      encoding: UTF-8
      string: '{"rawData":[{"symbol":"GH","companyName":"GUARDANT HEALTH, INC.","expectedDate":"2018-10-04","leadUnderwriters":["BofA Merrill Lynch","J.P. Morgan Securities LLC"],"underwriters":["Cowen and Company, LLC","Leerink Partners LLC","William Blair and Co., L.L.C."],"companyCounsel":["Latham & Watkins LLP"],"underwriterCounsel":["Cooley LLP"],"auditor":"Computershare Trust Company, N.A","market":"NASDAQ Global Select","cik":"0001576280","address":"505 PENOBSCOT DR.","city":"REDWOOD CITY","state":"CA","zip":"94063","phone":"855-698-8887","ceo":"Helmy Eltoukhy","employees":348,"url":"www.guardanthealth.com","status":"Filed","sharesOffered":12500000,"priceLow":15,"priceHigh":17,"offerAmount":200000000,"totalExpenses":4241500,"sharesOverAlloted":1875000,"shareholderShares":25000,"sharesOutstanding":83557281,"lockupPeriodExpiration":"2019-04-04","quietPeriodExpiration":"2019-04-04","revenue":36074000,"netIncome":-35483000,"totalAssets":362847000,"totalLiabilities":45066000,"stockholderEquity":276781000,"companyDescription":"We are a leading precision oncology company focused on helping conquer cancer...Our corporate website is &#10; www.guardanthealth.com.","businessDescription":"We are a leading precision oncology company focused on helping conquer cancer...Our corporate website is &#10; www.guardanthealth.com.","useOfProceeds":"We estimate the net proceeds from this offering will be approximately $181.8 &#10; million, or $209.7 million...obligations of the U.S. government.","competition":"Growing understanding of the importance of biomarkers linked with therapy...continue to compete &#10; effectively on each of those layers.","amount":200000000,"percentOffered":"14.96"},{"symbol":"KOD","companyName":"KODIAK SCIENCES INC.","expectedDate":"2018-10-04","leadUnderwriters":["BofA Merrill Lynch","Morgan Stanley & Co. LLC"],"underwriters":["Barclays Capital Inc","Chardan Capital Markets LLC"],"companyCounsel":["Wilson Sonsini Goodrich & Rosati, P.C."],"underwriterCounsel":["Davis Polk & Wardwell LLP"],"auditor":"Computershare Trust Company, N.A","market":"NASDAQ Global","cik":"0001468748","address":"2631 HANOVER STREET","city":"PALO ALTO","state":"CA","zip":"[...]
