---
http_interactions:
  - request:
      method: get
      uri: https://cloud.iexapis.com/v1/crypto/BTCUSDT/quote?token=test-iex-api-publishable-token
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Content-Security-Policy:
          - "default-src 'self'; child-src 'none'; object-src 'self'; style-src
            'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self'
            https://js.intercomcdn.com/fonts/ https://fonts.gstatic.com; frame-src 'self'
            https://portal.productboard.com/ https://js.stripe.com/; img-src 'self'
            data: https://*.intercomcdn.com/ https://static.intercomassets.com/ https://www.google-analytics.com
            https://downloads.intercomcdn.com/; connect-src 'self' https://auth.iexcloud.io
            https://api.iexcloud.io https://api.iexcloud.io https://cloud.iexapis.com
            wss://iexcloud.io wss://tops.iexcloud.io wss://api.iexcloud.io wss://iexcloud.io
            https://api-iam.intercom.io/messenger/ https://nexus-websocket-a.intercom.io/
            https://nexus-websocket-b.intercom.io/ wss://nexus-websocket-a.intercom.io/
            wss://nexus-websocket-b.intercom.io/ https://www.google-analytics.com; script-src
            'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com/recaptcha/api.js
            https://www.google-analytics.com https://js.stripe.com/v3/ https://widget.intercom.io/widget/lhos563b
            https://js.intercomcdn.com/ https://www.googletagmanager.com;"
        Frame-Options:
          - SAMEORIGIN
      body:
        encoding: ASCII-8BIT
        string:
          '{"symbol":"BTCUSDT","companyName":"Bitcoin USD","primaryExchange":"crypto","sector":"cryptocurrency","calculationPrice":"realtime","open":3527.79,"openTime":1548082840296,"close":3522.05522498,"closeTime":1548169240296,"high":3590.51,"low":3434.85,"latestPrice":3563.22,"latestSource":"Real
          time price","latestTime":"10:00:40 AM","latestUpdate":1548169240296,"latestVolume":28053.196533,"iexRealtimePrice":null,"iexRealtimeSize":null,"iexLastUpdated":null,"delayedPrice":null,"delayedPriceTime":null,"extendedPrice":null,"extendedChange":null,"extendedChangePercent":null,"extendedPriceTime":null,"previousClose":3527.79,"change":35.43,"changePercent":0.01004,"iexMarketPercent":null,"iexVolume":null,"avgTotalVolume":null,"iexBidPrice":null,"iexBidSize":null,"iexAskPrice":null,"iexAskSize":null,"marketCap":null,"peRatio":null,"week52High":null,"week52Low":null,"ytdChange":null,"bidPrice":3562.94,"bidSize":0.061728,"askPrice":3563.22,"askSize":0.134326}'
    recorded_at: Fri, 05 Apr 2019 03:12:28 GMT
recorded_with: VCR 4.0.0
