---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/market/crypto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; frame-src 'self'; connect-src 'self' https://auth.iextrading.com
        https://api.iextrading.com https://api.iextrading.com wss://iextrading.com
        wss://tops.iextrading.com wss://api.iextrading.com wss://iextrading.com; script-src
        'self' 'unsafe-inline' 'unsafe-eval';
      Frame-Options:
      - SAMEORIGIN
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"BTCUSDT","companyName":"Bitcoin USD","primaryExchange":"crypto","sector":"cryptocurrency","calculationPrice":"realtime","open":6645.76,"openTime":1538360540423,"close":6595.49934953,"closeTime":1538446940423,"high":6663.1,"low":6510,"latestPrice":6618.7,"latestSource":"Real
        time price","latestTime":"10:22:20 PM","latestUpdate":1538446940423,"latestVolume":20027.36393,"iexRealtimePrice":null,"iexRealtimeSize":null,"iexLastUpdated":null,"delayedPrice":null,"delayedPriceTime":null,"extendedPrice":null,"extendedChange":null,"extendedChangePercent":null,"extendedPriceTime":null,"previousClose":6645.76,"change":-27.06,"changePercent":-0.00407,"iexMarketPercent":null,"iexVolume":null,"avgTotalVolume":null,"iexBidPrice":null,"iexBidSize":null,"iexAskPrice":null,"iexAskSize":null,"marketCap":null,"peRatio":null,"week52High":null,"week52Low":null,"ytdChange":null,"bidPrice":6613.16,"bidSize":2.166213,"askPrice":6617.99,"askSize":0.264944},{"symbol":"EOSUSDT","companyName":"EOS
        USD","primaryExchange":"crypto","sector":"cryptocurrency","calculationPrice":"realtime","open":5.7533,"openTime":1538360540309,"close":5.70433093,"closeTime":1538446940309,"high":5.85,"low":5.5155,"latestPrice":5.7458,"latestSource":"Real
        time price","latestTime":"10:22:20 PM","latestUpdate":1538446940309,"latestVolume":9532237.8,"iexRealtimePrice":null,"iexRealtimeSize":null,"iexLastUpdated":null,"delayedPrice":null,"delayedPriceT[...]
