---
http_interactions:
- request:
    method: get
    uri: https://sandbox.iexapis.com/v1/search/msft?token=Tsk_341c973d296e4e18aa61dd63050ce235
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '1'
      Iexcloud-Premium-Messages-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"MSFT","securityName":"ocrsaoMorootnitr Cfip","securityType":"sc","region":"US","exchange":"NSA"},{"symbol":"MSFT-MM","securityName":"MntraoptosrocCofiori
        ","securityType":"cs","region":"MX","exchange":"EXM"}]'
  recorded_at: Wed, 27 Nov 2019 15:49:19 GMT
recorded_with: VCR 5.0.0
