---
http_interactions:
  - request:
      method: get
      uri: https://cloud.iexapis.com/v1/stock/MSFT/cash-flow?token=test-iex-api-publishable-token
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json; charset=utf-8
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Iexcloud-Messages-Used:
          - '3005'
        Iexcloud-Premium-Messages-Used:
          - '0'
      body:
        encoding: ASCII-8BIT
        string: '{"symbol":"MSFT","cashflow":[{"reportDate":"2018-09-30","fiscalDate":"2018-09-30","currency":"USD","netIncome":14125000000,"depreciation":2754000000,"changesInReceivables":-9082000000,"changesInInventories":1942000000,"cashChange":-6058000000,"cashFlow":19523000000,"capitalExpenditures":-3041000000,"investments":-926000000,"investingActivityOther":1566000000,"totalInvestingCashFlows":-3001000000,"dividendsPaid":-3530000000,"netBorrowings":-27000000,"otherFinancingCashFlows":-260000000,"cashFlowFinancing":-22580000000,"exchangeRateEffect":null}]}'
    recorded_at: Tue, 20 Oct 2020 23:57:04 GMT
recorded_with: VCR 6.0.0
