---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/market/sector-performance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; frame-src 'self'; connect-src 'self' https://auth.iextrading.com
        https://api.iextrading.com https://api.iextrading.com wss://iextrading.com
        wss://tops.iextrading.com wss://api.iextrading.com wss://iextrading.com; script-src
        'self' 'unsafe-inline' 'unsafe-eval';
      Frame-Options:
      - SAMEORIGIN
    body:
      encoding: ASCII-8BIT
      string: '[{"type":"sector","name":"Energy","performance":0.01386,"lastUpdated":1538424000406},{"type":"sector","name":"Materials","performance":0.01001,"lastUpdated":1538424000350},{"type":"sector","name":"Industrials","performance":0.0088,"lastUpdated":1538424000403},{"type":"sector","name":"Health
        Care","performance":0.00494,"lastUpdated":1538424000381},{"type":"sector","name":"Technology","performance":0.00478,"lastUpdated":1538424000467},{"type":"sector","name":"Financials","performance":0.00399,"lastUpdated":1538424000489},{"type":"sector","name":"Consumer
        Staples","performance":-0.00074,"lastUpdated":1538424000412},{"type":"sector","name":"Consumer
        Discretionary","performance":-0.00307,"lastUpdated":1538424000351},{"type":"sector","name":"Utilities","performance":-0.00342,"lastUpdated":1538424000385},{"type":"sector","name":"Communication
        Services","performance":-0.00408,"lastUpdated":1538424000372},{"type":"sector","name":"Real
        Estate","performance":-0.00767,"lastUpdated":1538424000353}]'
  recorded_at: Tue, 02 Oct 2018 02:22:27 GMT
recorded_with: VCR 4.0.0
