---
http_interactions:
  - request:
      method: get
      uri: https://cloud.iexapis.com/v1/stock/MSFT/dividends/6m?token=test-iex-api-publishable-token
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Content-Security-Policy:
          - "default-src 'self'; child-src 'none'; object-src 'self'; style-src
            'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self'
            https://js.intercomcdn.com/fonts/ https://fonts.gstatic.com; frame-src 'self'
            https://portal.productboard.com/ https://js.stripe.com/; img-src 'self'
            data: https://*.intercomcdn.com/ https://static.intercomassets.com/ https://www.google-analytics.com
            https://downloads.intercomcdn.com/; connect-src 'self' https://auth.iexcloud.io
            https://api.iexcloud.io https://api.iexcloud.io https://cloud.iexapis.com
            wss://iexcloud.io wss://tops.iexcloud.io wss://api.iexcloud.io wss://iexcloud.io
            https://api-iam.intercom.io/messenger/ https://nexus-websocket-a.intercom.io/
            https://nexus-websocket-b.intercom.io/ wss://nexus-websocket-a.intercom.io/
            wss://nexus-websocket-b.intercom.io/ https://www.google-analytics.com; script-src
            'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com/recaptcha/api.js
            https://www.google-analytics.com https://js.stripe.com/v3/ https://widget.intercom.io/widget/lhos563b
            https://js.intercomcdn.com/ https://www.googletagmanager.com;"
        Frame-Options:
          - SAMEORIGIN
      body:
        encoding: ASCII-8BIT
        string:
          '[{"exDate":"2019-05-15","paymentDate":"2019-06-13","recordDate":"2019-05-16","declaredDate":"2019-03-11","amount":0.46,"flag":"No
          Change QoQ","currency":"USD","description":"Microsoft Corp. Declares Quarterly
          Dividend of $0.46 Per Share","frequency":"Quarterly"},{"exDate":"2019-02-20","paymentDate":"2019-03-14","recordDate":"2019-02-21","declaredDate":"2018-11-28","amount":0.46,"flag":"No
          Change QoQ","currency":"USD","description":"Microsoft Corp. Declares Quarterly
          Dividend of $0.46 Per Share","frequency":"Quarterly"},{"exDate":"2018-11-14","paymentDate":"2018-12-13","recordDate":"2018-11-15","declaredDate":"2018-09-18","amount":0.46,"flag":"Increase","currency":"USD","description":"Microsoft
          Corp. Hikes Quarterly Dividend 9.52%","frequency":"Quarterly"}]'
    recorded_at: Mon, 08 Apr 2019 11:10:17 GMT
recorded_with: VCR 4.0.0
