---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/MSFT/chart/1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; connect-src 'self' https://auth.iextrading.com
        wss://iextrading.com wss://tops.iextrading.com; script-src 'self';
      Frame-Options:
      - deny
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"20180327","minute":"09:30","label":"09:30 AM","high":94.97,"low":94.76,"average":94.868,"volume":10002,"notional":948875.43,"numberOfTrades":72,"marketHigh":95,"marketLow":94.76,"marketAverage":94.887,"marketVolume":1742030,"marketNotional":165295915.663,"marketNumberOfTrades":2798,"changeOverTime":0,"marketChangeOverTime":0},{"date":"20180327","minute":"09:31","label":"09:31
        AM","high":94.94,"low":94.62,"average":94.817,"volume":7673,"notional":727535.04,"numberOfTrades":83,"marketHigh":94.97,"marketLow":94.6,"marketAverage":94.808,"marketVolume":407925,"marketNotional":38674762.7095,"marketNumberOfTrades":3306,"changeOverTime":-0.0005375890711304331,"marketChangeOverTime":-0.0008325692666012575},{"date":"20180327","minute":"09:32","label":"09:32
        AM","high":94.91,"low":94.685,"average":94.805,"vol[...]
