---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/MSFT/chart/1d?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2019-08-09","minute":"09:30","label":"09:30 AM","high":138.72,"low":138.5,"open":138.72,"close":138.68,"average":138.632,"volume":3673,"notional":509195.675,"numberOfTrades":23},{"date":"2019-08-09","minute":"09:31","label":"09:31
        AM","high":138.89,"low":138.8,"open":138.8,"close":138.86,"average":138.844,"volume":94,"notional":13051.32,"numberOfTrades":4},{"date":"2019-08-09","minute":"09:32","label":"09:32
        AM","high":138.74,"low":138.66,"open":138.66,"close":138.74,"average":138.722,"volume":900,"notional":124850,"numberOfTrades":6},{"date":"2019-08-09","minute":"09:33","label":"09:33
        AM","high":139.01,"low":138.82,"open":138.82,"close":138[...]
