---
http_interactions:
  - request:
      method: get
      uri: https://cloud.iexapis.com/v1/stock/MSFT/chart/1d?token=test-iex-api-publishable-token
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Content-Security-Policy:
          - "default-src 'self'; child-src 'none'; object-src 'self'; style-src
            'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self'
            https://js.intercomcdn.com/fonts/ https://fonts.gstatic.com; frame-src 'self'
            https://portal.productboard.com/ https://js.stripe.com/; img-src 'self'
            data: https://*.intercomcdn.com/ https://static.intercomassets.com/ https://www.google-analytics.com
            https://downloads.intercomcdn.com/; connect-src 'self' https://auth.iexcloud.io
            https://api.iexcloud.io https://api.iexcloud.io https://cloud.iexapis.com
            wss://iexcloud.io wss://tops.iexcloud.io wss://api.iexcloud.io wss://iexcloud.io
            https://api-iam.intercom.io/messenger/ https://nexus-websocket-a.intercom.io/
            https://nexus-websocket-b.intercom.io/ wss://nexus-websocket-a.intercom.io/
            wss://nexus-websocket-b.intercom.io/ https://www.google-analytics.com; script-src
            'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com/recaptcha/api.js
            https://www.google-analytics.com https://js.stripe.com/v3/ https://widget.intercom.io/widget/lhos563b
            https://js.intercomcdn.com/ https://www.googletagmanager.com;"
        Frame-Options:
          - SAMEORIGIN
      body:
        encoding: ASCII-8BIT
        string:
          '[{"date":"20190405","minute":"09:30","label":"09:30 AM","high":119.67,"low":119.43,"average":119.538,"volume":2240,"notional":267765,"numberOfTrades":20,"marketHigh":119.68,"marketLow":119.37,"marketAverage":119.427,"marketVolume":528840,"marketNotional":63157601.9807,"marketNumberOfTrades":699,"open":119.43,"close":119.66,"marketOpen":119.39,"marketClose":119.65,"changeOverTime":0,"marketChangeOverTime":0},{"date":"20190405","minute":"09:31","label":"09:31
          AM","high":119.69,"low":119.63,"average":119.669,"volume":1423,"notional":170288.78,"numberOfTrades":18,"marketHigh":119.73,"marketLow":119.61,"marketAverage":119.66,"marketVolume":76602,"marketNotional":9166228.2446,"marketNumberOfTrades":423,"open":119.67,"close":119.63,"marketOpen":119.67,"marketClose":119.63,"changeOverTime":0.0010958858271010075,"marketChangeOverTime":0.001950982608622756},{"date":"20190405","minute":"09:32","l[...]
