---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/MSFT/chart/date/20180227
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; connect-src 'self' https://auth.iextrading.com
        wss://iextrading.com wss://tops.iextrading.com; script-src 'self';
      Frame-Options:
      - deny
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"20180227","minute":"09:30","label":"09:30 AM","high":95.775,"low":95.54,"average":95.666,"volume":3990,"notional":381707.355,"numberOfTrades":47,"marketHigh":95.85,"marketLow":95.52,"marketAverage":95.666,"marketVolume":890879,"marketNotional":85227008.8751,"marketNumberOfTrades":1616,"changeOverTime":0,"marketChangeOverTime":0},{"date":"20180227","minute":"09:31","label":"09:31
        AM","high":95.57,"low":95.51,"average":95.549,"volume":3945,"notional":376940.83,"numberOfTrades":33,"marketHigh":95.57,"marketLow":95.48,"marketAverage":95.538,"marketVolume":169514,"marketNotional":16195080.5804,"marketNumberOfTrades":1151,"changeOverTime":-0.0012230050383625346,"marketChangeOverTime":-0.0013379884180377576},{"date":"20180227","minute":"09:32","label":"09:32
        AM","high":95.55,"low":95.46,"average":95.511,"vol[...]
