---
http_interactions:
  - request:
      method: get
      uri: https://cloud.iexapis.com/v1/stock/MSFT/chart/date/20190306?token=test-iex-api-publishable-token
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Content-Security-Policy:
          - "default-src 'self'; child-src 'none'; object-src 'self'; style-src
            'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self'
            https://js.intercomcdn.com/fonts/ https://fonts.gstatic.com; frame-src 'self'
            https://portal.productboard.com/ https://js.stripe.com/; img-src 'self'
            data: https://*.intercomcdn.com/ https://static.intercomassets.com/ https://www.google-analytics.com
            https://downloads.intercomcdn.com/; connect-src 'self' https://auth.iexcloud.io
            https://api.iexcloud.io https://api.iexcloud.io https://cloud.iexapis.com
            wss://iexcloud.io wss://tops.iexcloud.io wss://api.iexcloud.io wss://iexcloud.io
            https://api-iam.intercom.io/messenger/ https://nexus-websocket-a.intercom.io/
            https://nexus-websocket-b.intercom.io/ wss://nexus-websocket-a.intercom.io/
            wss://nexus-websocket-b.intercom.io/ https://www.google-analytics.com; script-src
            'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com/recaptcha/api.js
            https://www.google-analytics.com https://js.stripe.com/v3/ https://widget.intercom.io/widget/lhos563b
            https://js.intercomcdn.com/ https://www.googletagmanager.com;"
        Frame-Options:
          - SAMEORIGIN
      body:
        encoding: ASCII-8BIT
        string:
          '[{"date":"20190306","minute":"09:30","label":"09:30 AM","high":111.99,"low":111.81,"average":111.891,"volume":11248,"notional":1258552.905,"numberOfTrades":36,"marketHigh":112,"marketLow":111.8,"marketAverage":111.882,"marketVolume":718878,"marketNotional":80429748.6369,"marketNumberOfTrades":1668,"open":111.885,"close":111.84,"marketOpen":111.87,"marketClose":111.92,"changeOverTime":0,"marketChangeOverTime":0},{"date":"20190306","minute":"09:31","label":"09:31
          AM","high":112.05,"low":111.88,"average":111.967,"volume":3241,"notional":362885.84,"numberOfTrades":24,"marketHigh":112.09,"marketLow":111.88,"marketAverage":111.991,"marketVolume":124063,"marketNotional":13893932.5087,"marketNumberOfTrades":1123,"open":111.91,"close":112.04,"marketOpen":111.92,"marketClose":112.06,"changeOverTime":0.0006792324673118785,"marketChangeOverTime":0.0009742407178991674},{"date":"20190306","minute":"09:3[...]
