---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/MSFT/chart/1d?chartInterval=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; connect-src 'self' https://auth.iextrading.com
        wss://iextrading.com wss://tops.iextrading.com; script-src 'self';
      Frame-Options:
      - deny
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"20180327","minute":"09:30","label":"09:30 AM","high":94.97,"low":94.76,"average":94.868,"volume":10002,"notional":948875.43,"numberOfTrades":72,"marketHigh":95,"marketLow":94.76,"marketAverage":94.887,"marketVolume":1742030,"marketNotional":165295915.663,"marketNumberOfTrades":2798,"changeOverTime":0,"marketChangeOverTime":0},{"date":"20180327","minute":"09:41","label":"09:41
        AM","high":94.76,"low":94.425,"average":94.657,"volume":3013,"notional":285200.69,"numberOfTrades":29,"marketHigh":94.76,"marketLow":94.415,"marketAverage":94.638,"marketVolume":209616,"marketNotional":19837730.4823,"marketNumberOfTrades":1360,"changeOverTime":-0.0022241430197748294,"marketChangeOverTime":-0.0026241740175155207},{"date":"20180327","minute":"09:51","label":"09:51
        AM","high":94.7,"low":94.53,"average":94.572,"vo[...]
