---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/MSFT/chart/1d?chartInterval=10&token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2019-08-09","minute":"09:30","label":"09:30 AM","high":138.72,"low":138.5,"open":138.72,"close":138.68,"average":138.632,"volume":3673,"notional":509195.675,"numberOfTrades":23},{"date":"2019-08-09","minute":"09:40","label":"09:40
        AM","high":139.055,"low":138.95,"open":139.01,"close":139,"average":139.001,"volume":2303,"notional":320120.44,"numberOfTrades":22},{"date":"2019-08-09","minute":"09:50","label":"09:50
        AM","high":137.96,"low":137.88,"open":137.92,"close":137.89,"average":137.924,"volume":800,"notional":110339.5,"numberOfTrades":8},{"date":"2019-08-09","minute":"10:00","label":"10
        AM","high":137.605,"low":137.495,"open":137.585,"clos[...]
