---
http_interactions:
- request:
    method: get
    uri: https://cloud.iexapis.com/v1/stock/MSFT/chart?token=test-iex-api-publishable-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Iexcloud-Messages-Used:
      - '230'
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2019-07-10","open":137.13,"close":137.85,"high":138.58,"low":137.02,"volume":24204362,"uOpen":137.13,"uClose":137.85,"uHigh":138.58,"uLow":137.02,"uVolume":24204362,"change":0,"changePercent":0,"label":"Jul
        10","changeOverTime":0},{"date":"2019-07-11","open":138.2,"close":138.4,"high":139.22,"low":137.87,"volume":22327942,"uOpen":138.2,"uClose":138.4,"uHigh":139.22,"uLow":137.87,"uVolume":22327942,"change":0.55,"changePercent":0.399,"label":"Jul
        11","changeOverTime":0.00399},{"date":"2019-07-12","open":138.85,"close":138.9,"high":139.13,"low":138,"volume":18936832,"uOpen":138.85,"uClose":138.9,"uHigh":139.13,"uLow":138,"uVolume":18936832,"change":0.5,"changePercent":0.3613,"label":"Jul
        12","changeOverTi[...]
