---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/MSFT/chart
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; connect-src 'self' https://auth.iextrading.com
        wss://iextrading.com wss://tops.iextrading.com; script-src 'self';
      Frame-Options:
      - deny
    body:
      encoding: UTF-8
      string: '[{"date":"2018-02-26","open":94.4,"high":95.45,"low":94.25,"close":95.42,"volume":30199846,"unadjustedVolume":30199846,"change":1.36,"changePercent":1.446,"vwap":95.0439,"label":"Feb
        26","changeOverTime":0},{"date":"2018-02-27","open":95.74,"high":95.84,"low":94.2,"close":94.2,"volume":25869119,"unadjustedVolume":25869119,"change":-1.22,"changePercent":-1.279,"vwap":95.0159,"label":"Feb
        27","changeOverTime":-0.012785579543072719},{"date":"2018-02-28","open":94.84,"high":95.705,"low":93.63,"close":93.77,"volume":31167338,"unadjustedVolume":31167338,"change":-0.43,"changePercent":-0.456,"vwap":94.6005,"label":"Feb
        28","changeOverTime":-0.017291972332844328},{"date":"2018-03-01","op[...]
