---
http_interactions:
- request:
    method: get
    uri: https://api.iextrading.com/1.0/stock/market/ohlc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src 'self'; child-src 'none'; object-src 'none'; style-src 'self'
        'unsafe-inline'; font-src data:; frame-src 'self'; connect-src 'self' https://auth.iextrading.com
        https://api.iextrading.com https://api.iextrading.com wss://iextrading.com
        wss://tops.iextrading.com wss://api.iextrading.com wss://iextrading.com; script-src
        'self' 'unsafe-inline' 'unsafe-eval';
      Frame-Options:
      - SAMEORIGIN
    body:
      encoding: ASCII-8BIT
      string: '{"SNOAW":{"open":{"price":0.35,"time":1528723800561},"close":{"price":0.35,"time":1528747200225}},"NOMD":{"open":{"price":18.15,"time":1528723800602},"close":{"price":17.98,"time":1528747324657}},"ARR-A":{"open":{"price":25.45,"time":1528723809081},"close":{"price":25.48,"time":1528747321138}},"GLMD":{"open":{"price":6.82,"time":1528723800532},"close":{"price":7.05,"time":1528747200429}},"RTH":{"open":{"price":100.76,"time":1528723800112},"close":{"price":101.338,"time":1528747200258}},"NRK":{"open":{"price":12.13,"time":1528723800604},"close":{"price":12.14,"time":1528747321092}},"GWGH":{"open":{"price":7.75,"time":1528723800029},"close":{"price":8.1,"time":1528747200198}},"VSTM":{"open":{"price":5.71,"time":1528723800355},"close":{"price":5.59,"time":1528747200259}},"GMED":{"open":{"price":57.05,"time":1528723800352},"close":{"price":56.25,"time":1528747321560}},"GSKY":{"open":{"price":23.85,"time":1528723800145},"close":{"price":24.07,"time":1528747200300}},"LB":{"open":{"price":37.09,"time":1528723889475},"close":{"price":36.94,"time":1528747386773}},"MET-E":{"open":{"price":25.39,"time":1528723821462},"close":{"price":25.25,"time":1528747321353}},"IEME":{"open":{"price":25.22,"time":1528723800004},"close":{"price":25.69,"time":1528747200000}},"TDC":{"open":{"price":40.89,"time":1528723809911},"close":{"price":41,"time":1528747321745}},"LION":{"open":{"price":25.6,"time":1528723800643},"close":{"price":25.73,"time":1528747200254}},"RNDM":{"open":{"price":51.98,"time":1528484392020},"close":{"price":51.98,"time":1528488000227}},"GYC":{"open":{"price":23.16,"time":1528205401459},"close":{"price":23.16,"time":1528228924367}},"FCVT":{"open":{"price":30.47,"time":1528726651805},"close":{"price":30.53,"time":1528747200326}},"GHY":{"open":{"price":13.86,"time":1528723809618},"close":{"price":13.84,"time":1528747321196}},"VFL":{"open":{"price":12.51,"time":1528465135158},"close":{"price":12.47,"time":1528747200023}},"FLGE":{"open":{"price":263.1,"time":1528723800098},"close":{"price":266.037,"time":1528747200159}},"NATH":{"open":{"price":88.8,"time":1528723800400},"close":{"price":87.35,"time":1528747200376}},"CIZN":{"open":{"price":22.5,"time":1528723800254},"close":{"price":22.45,"time":1528747200390}},"CSV":{"open":{"price":25.19,"time":1528723800252},"close":{"price":25.07,"time":1528747321157}},"SLDD":{"open":{"price":25.05,"time":1527255009909},"close":{"price":25.67,"time":1528747282006}},"BKU":{"open":{"price":44.47,"time":1528723800153},"close":{"price":43.99,"time":1528747321209}},"EWSC":{"open":{"price":60.76,"time":1528737419332},"close":{"price":60.83,"time":1528747200172}},"MMD":{"open":{"price":19.37,"time":1528723826793},"close":{"price":19.39,"time":1528747321863}},"QRHC":{"open":{"price":1.99,"time":1528723800327},"close":{"price":1.93,"time":1528747200417}},"PFD":{"open":{"price":13.52,"time":1528723800851},"close":{"price":13.52,"time":1528747323796}},"DFND":{"open":{"price":27.592,"time":1528723800004},"close":{"price":27.592,"time":1528747200000}},"NVRO":{"open":{"price":78.22,"time":1528723800502},"close":{"price":78.81,"time":1528747323299}},"AGFS":{"open":{"price":7.37,"time":1528723800237},"close":{"price":7.5,"time":1528747200365}},"KOOL":{"open":{"price":0.51,"time":1528723800486},"close":{"price":0.545,"time":1528747200452}},"PCG-C":{"open":{"price":21.76,"time":1528723839611},"close":{"price":21.8,"time":1528747200024}},"TSLX":{"open":{"price":18.61,"time":1528723800853},"close":{"price":18.49,"time":1528747321900}},"SALM":{"open":{"price":4.1,"time":1528723800526},"close":{"price":4.2,"time":1528747200322}},"SCE-E":{"open":{"price":23.65,"time":1528723800015},"close":{"price":23.89,"time":1528747200025}},"HMC":{"open":{"price":32.5,"time":1528723800363},"close":{"price":32.67,"time":1528747322370}},"ATRC":{"open":{"price":24.22,"time":1528723800668},"close":{"price":24.26,"time":1528747200441}},"ACXM":{"open":{"price":30.31,"time":1528723800427},"close":{"price":30.27,"time":1528747200404}},"MRK":{"open":{"price":62.8,"time":1528723918352},"close":{"price":62.33,"time":1528747348655}},"ABMD":{"open":{"price":409.77,"time":1528723800362},"close":{"price":418.21,"time":1528747200411}},"RARE":{"open":{"price":79.28,"time":1528723800147},"close":{"price":79.81,"time":1528747200250}},"CLGN":{"open":{"price":6.4,"time":1528728210151},"close":{"price":6,"time":1528747200258}},"TSE":{"open":{"price":73.7,"time":1528723800803},"close":{"price":74.2,"time":1528747323128}},"PSA":{"open":{"price":216.61,"time":1528723800710},"close":{"price":216.64,"time":1528747321564}},"APB":{"open":{"price":14.66,"time":1528723800056},"close":{"price":14.95,"time":1528747321046}},"QLC":{"open":{"price":35.09,"time":1528732347415},"close":{"price":35.05,"time":1528747200473}},"ARNC-":{"open":{"price":87.94,"time":1528475756141},"close":{"price":89.51,"time":1528747200037}},"AFL":{"open":{"price":45.98,"time":1528723801005},"close":{"price":45.75,"time":1528747349539}},"JKJ":{"open":{"price":182.97,"time":1528723800136},"close":{"price":183.493,"time":1528747200173}},"ELECW":{"open":{"price":0.006,"time":1528291800333},"close":{"price":0.0038,"time":1528315200322}},"AVGO":{"open":{"price":257.86,"time":1528723800459},"close":{"price":260.83,"time":1528747200425}},"GS-C":{"open":{"price":23.44,"time":1528723800355},"close":{"price":23.52,"time":1528747321309}},"IRS":{"open":{"price":19.25,"time":1528464600452},"close":{"price":18.5,"time":1528747321599}},"SOJA":{"open":{"price":26.27,"time":1528723800655},"close":{"price":26.27,"time":1528747322449}},"DNB":{"open":{"price":132.39,"time":1528723800417},"close":{"price":132.57,"time":1528747210934}},"SPCB":{"open":{"price":1.85,"time":1528723800337},"close":{"price":1.88,"time":1528747200439}},"SIGA":{"open":{"price":7.03,"time":1528723800618},"close":{"price":7.08,"time":1528747200224}},"EXT":{"open":{"price":32.59,"time":1528723800137},"close":{"price":32.604,"time":1528747200212}},"WB":{"open":{"price":107.16,"time":1528723800584},"close":{"price":103.84,"time":1528747200164}},"XCEM":{"open":{"price":26.08,"time":1528729078091},"close":{"price":26.07,"time":1528747200206}},"REX":{"open":{"price":73.8,"time":1528723800603},"close":{"price":74.15,"time":1528747323101}},"BFS-D":{"open":{"price":22.69,"time":1528723800103},"close":{"price":22.75,"time":1528747321072}},"SSD":{"open":{"price":67.08,"time":1528723800704},"close":{"price":66.99,"time":1528747324770}},"KCNY":{"open":{"price":36.56,"time":1528723800140},"close":{"price":36.7,"time":1528747200009}},"AI-B":{"open":{"price":24.35,"time":1528119000051},"close":{"price":24.45,"time":1528142581045}},"ITCI":{"open":{"price":22.96,"time":1528723800548},"close":{"price":21.84,"time":1528747200293}},"SUP":{"open":{"price":18.9,"time":1528723809713},"close":{"price":19,"time":1528747323701}},"CLFD":{"open":{"price":10.5,"time":1528723800587},"close":{"price":10.85,"time":1528747200198}},"IDSA":{"open":{"price":2.13,"time":1528723800224},"close":{"price":2.1,"time":1528747200479}},"SIFI":{"open":{"price":14.9,"time":1528723800420},"close":{"price":14.9,"time":1528747200305}},"MLI":{"open":{"price":31.5,"time":1528723800556},"close":{"price":31.41,"time":1528747324623}},"OCSL":{"open":{"price":4.95,"time":1528723800578},"close":{"price":4.91,"time":1528747200393}},"BANC-E":{"open":{"price":25.63,"time":1528464600153},"close":{"price":25.58,"time":1528747381939}},"FIGY":{"open":{"price":159.25,"time":1528119000134},"close":{"price":159.968,"time":1528142400176}},"SR":{"open":{"price":66.7,"time":1528723800702},"close":{"price":66.45,"time":1528747324769}},"TMCX":{"open":{"price":9.74,"time":1528724570420},"close":{"price":9.75,"time":1528747200337}},"TBT":{"open":{"price":37.56,"time":1528723800144},"close":{"price":37.43,"time":1528747200469}},"IWF":{"open":{"price":146.96,"time":1528723800126},"close":{"price":147.06,"time":1528747200408}},"ASB+":{"open":{"price":8,"time":1527705573995},"close":{"price":8.72,"time":1528315200032}},"ULH":{"open":{"price":25.55,"time":1528723800383},"close":{"price":25.7,"time":1528747200245}},"TGTX":{"open":{"price":13.9,"time":1528723800544},"close":{"price":13.6,"time":1528747200344}},"EOI":{"open":{"price":15.8,"time":1528723800202},"close":{"price":15.87,"time":1528747320822}},"SNDE":{"open":{"price":4.75,"time":1528723800400},"close":{"price":5.1,"time":1528747200183}},"SCYX":{"open":{"price":1.77,"time":1528723800659},"close":{"price":1.74,"time":1528747200255}},"VXZB":{"open":{"price":19.215,"time":1528723800004},"close":{"price":19.215,"time":1528747200000}},"MMTM":{"open":{"price":123.24,"time":1528723800109},"close":{"price":123.03,"time":1528747200165}},"TSN":{"open":{"price":70.79,"time":1528723800861},"close":{"price":71.99,"time":1528747276588}},"MUC":{"open":{"price":13.26,"time":1528723800452},"close":{"price":13.28,"time":1528747322279}},"FMBH":{"open":{"price":40.07,"time":1528723800201},"close":{"price":39.37,"time":1528747200464}},"HCC":{"open":{"price":29.22,"time":1528723800303},"close":{"price":29.42,"time":1528747325310}},"SYV":{"open":{"price":68.8,"time":1528743768330},"close":{"price":68.708,"time":1528747200193}},"WPC":{"open":{"price":66.9,"time":1528723800907},"close":{"price":66.79,"time":1528747321656}},"YLDE":{"open":{"price":28.12,"time":1528747178416},"close":{"price":28.12,"time":1528747200334}},"PSA-G":{"open":{"price":24.93,"time":1528723800708},"close":{"price":24.85,"time":1528747321489}},"ARGT":{"open":{"price":30.89,"time":1528723800104},"close":{"price":31,"time":1528747200288}},"STAA":{"open":{"price":29.5,"time":1528723800524},"close":{"price":29.1,"time":1528747200331}},"CONN":{"open":{"price":34.15,"time":1528723800195},"close":{"price":36.8,"time":1528747200366}},"PCK":{"open":{"price":8.22,"time":1528723800702},"close":{"price":8.25,"time":1528747306808}},"HYLB":{"open":{"price":49.44,"time":1528723800099},"close":{"price":49.45,"time":1528747200257}},"BPOPM":{"open":{"price":23.02,"time":1528723800571},"close":{"price":23.04,"time":1528747200360}},"EEMV":{"open":{"price":61.54,"time":1528723800000},"close":{"price":61.38,"time":1528747200000}},"LAD":{"open":{"price":101.12,"time":1528723800603},"close":{"price":102,"time":1528747323574}},"TCMD":{"open":{"price":50,"time":1528723800603},"close":{"price":51.37,"time":1528747200372}},"AWI":{"open":{"price":65,"time":1528723800051},"close":{"price":63.9,"time":1528747322273}},"CM":{"open":{"price":88.38,"time":1528723800202},"close":{"price":88.55,"time":1528747322152}},"MIDU":{"open":{"price":52.21,"time":1528723800110},"close":{"price":52.179,"time":1528747200277}},"VEA":{"open":{"price":45.02,"time":1528723800101},"close":{"price":45.14,"time":1528747200529}},"AKBA":{"open":{"price":10.38,"time":1528723800344},"close":{"price":10.62,"time":1528747200429}},"GLBS":{"open":{"price":0.74,"time":1528723800630},"close":{"price":0.6977,"time":1528747200442}},"AMBO":{"open":{"price":4.17,"time":1528723800027},"close":{"price":4.199,"time":1528747200038}},"QINC":{"open":{"price":24.92,"time":1528725789287},"close":{"price":24.86,"time":1528747200319}},"LEXEA":{"open":{"price":44.77,"time":1528723800796},"close":{"price":45.58,"time":1528747200456}},"CJNK":{"open":{"price":25.42,"time":1528723800091},"close":{"price":25.439,"time":1528747200202}},"OBCI":{"open":{"price":3.65,"time":1528723800429},"close":{"price":3.64,"time":1528747200312}},"COMG":{"open":{"price":29.81,"time":1528476918832},"close":{"price":29.726,"time":1528747200166}},"IBM":{"open":{"price":146.76,"time":1528723800640},"close":{"price":146.58,"time":1528747317309}},"XTN":{"open":{"price":65.79,"time":1528723800079},"close":{"price":66.937,"time":1528747200251}},"CCLP":{"open":{"price":5.76,"time":1528723800658},"close":{"price":5.82,"time":1528747200296}},"FMS":{"open":{"price":51.01,"time":1528723809736},"close":{"price":51.03,"time":1528747323388}},"PDCO":{"open":{"price":21.75,"time":1528723800684},"close":{"price":22.22,"time":1528747200169}},"AMSC":{"open":{"price":6.35,"time":1528723800682},"close":{"price":6.54,"time":1528747200372}},"MBB":{"open":{"price":103.38,"time":1528723800662},"close":{"price":103.41,"time":1528747200254}},"SCHE":{"open":{"price":27.38,"time":1528723800127},"close":{"price":27.35,"time":1528747200457}},"ISBC":{"open":{"price":13.72,"time":1528723800749},"close":{"price":13.5,"time":1528747200409}},"OSLE":{"open":{"price":25.69,"time":1528464603039},"close":{"price":25.49,"time":1528749900029}},"OPHT":{"open":{"price":3,"time":1528723800715},"close":{"price":3.23,"time":1528747200455}},"GSIT":{"open":{"price":7.63,"time":1528723800559},"close":{"price":7.83,"time":1528747200001}},"ALBO":{"open":{"price":30.64,"time":1528723800329},"close":{"price":32.61,"time":1528747200412}},"GAB":{"open":{"price":6.44,"time":1528723800255},"close":{"price":6.48,"time":1528747321058}},"ARKW":{"open":{"price":56.41,"time":1528723800133},"close":{"price":56.84,"time":1528747200455}},"DEF":{"open":{"price":47.5,"time":1528723800097},"close":{"price":47.38,"time":1528747200290}},"SCO":{"open":{"price":18.99,"time":1528723800077},"close":{"price":18.48,"time":1528747200395}},"DRAD":{"open":{"price":1.7,"time":1528723800364},"close":{"price":1.725,"time":1528747200196}},"DWPP":{"open":{"price":29.4,"time":1528392458209},"close":{"price":29.4,"time":1528401600404}},"AXON":{"open":{"price":4.97,"time":1528723800207},"close":{"price":5.01,"time":1528747200215}},"PZC":{"open":{"price":10.19,"time":1528723800753},"close":{"price":10.1,"time":1528747326881}},"FDIV":{"open":{"price":49.2,"time":1528746858659},"close":{"price":49.17,"time":1528747200465}},"DAL":{"open":{"price":54.36,"time":1528723800157},"close":{"price":54.89,"time":1528747273396}},"CCMP":{"open":{"price":116.38,"time":1528723800290},"close":{"price":116.33,"time":1528747200402}},"FMI":{"open":{"price":98.3,"time":1528723800410},"close":{"price":98.7,"time":1528747200326}},"CNHX":{"open":{"price":27.64,"time":1527870033175},"close":{"price":27.602,"time":1528747200179}},"DWSN":{"open":{"price":7.37,"time":1528723800465},"close":{"price":7.24,"time":1528747200163}},"SLQD":{"open":{"price":49.51,"time":1528723800310},"close":{"price":49.52,"time":1528747200301}},"IMDZ":{"open":{"price":4.3,"time":1528723800360},"close":{"price":4.2,"time":1528747200340}},"AHPAW":{"open":{"price":0.3305,"time":1528724207615},"close":{"price":0.3305,"time":1528747200394}},"RNDV":{"open":{"price":21.69,"time":1528464600570},"close":{"price":21.83,"time":1528488000477}},"RTM":{"open":{"price":112.56,"time":1528723800094},"close":{"price":112.762,"time":1528747200334}},"VST":{"open":{"price":24.56,"time":1528723871700},"close":{"price":24.09,"time":1528747404786}},"MSEX":{"open":{"price":42.08,"time":1528723800469},"close":{"price":41.15,"time":1528747200320}},"SBAC":{"open":{"price":157.71,"time":1528723800641},"close":{"price":158.09,"time":1528747200234}},"SPH":{"open":{"price":23.52,"time":1528723809665},"close":{"price":23.32,"time":1528747323698}},"MYD":{"open":{"price":13.33,"time":1528723800453},"close":{"price":13.34,"time":1528747320223}},"ING":{"open":{"price":15.1,"time":1528723800357},"close":{"price":15.22,"time":1528747320937}},"NXQ":{"open":{"price":13.61,"time":1528723800552},"close":{"price":13.63,"time":1528747320321}},"AEL":{"open":{"price":36.6,"time":1528723801003},"close":{"price":36.33,"time":1528747321080}},"ZF":{"open":{"price":10.75,"time":1528723809927},"close":{"price":10.72,"time":1528747285860}},"TANNI":{"open":{"price":24.45,"time":1528723800779},"close":{"price":24.35,"time":1528747200348}},"SEB":{"open":{"price":3824.85,"time":1528723800015},"close":{"price":3766,"time":1528747200034}},"PRSS":{"open":{"price":1.38,"time":1528723800326},"close":{"price":1.38,"time":1528747200265}},"TRUE":{"open":{"price":10.3,"time":1528723800151},"close":{"price":10.51,"time":1528747200454}},"BLPH":{"open":{"price":2.59,"time":1528723800420},"close":{"price":2.5,"time":1528747200161}},"TRNO":{"open":{"price":37.98,"time":1528723800855},"close":{"price":37.78,"time":1528747325683}},"BCRX":{"open":{"price":5.76,"time":1528723800642},"close":{"price":5.97,"time":1528747200392}},"BDC":{"open":{"price":58.56,"time":1528723800104},"close":{"price":58.86,"time":1528747321091}},"JVA":{"open":{"price":5.1,"time":1528723800469},"close":{"price":5.35,"time":1528747200297}},"NORW":{"open":{"price":14.8,"time":1528723800079},"close":{"price":14.89,"time":1528747200237}},"DISH":{"open":{"price":32.09,"time":1528723800621},"close":{"price":32.12,"time":1528747200313}},"CDNS":{"open":{"price":44.14,"time":1528723800407},"close":{"price":44.25,"time":1528747200167}},"DOVA":{"open":{"price":28.81,"time":1528723800541},"close":{"price":29.58,"time":1528747200342}},"FC":{"open":{"price":28.9,"time":1528464600503},"close":{"price":29.4,"time":1528747321017}},"VG":{"open":{"price":11.68,"time":1528723800904},"close":{"price":11.58,"time":1528747385822}},"UBCP":{"open":{"price":13.3,"time":1528723800542},"close":{"price":13.45,"time":1528747200457}},"MAGS":{"open":{"price":5.28,"time":1528723800736},"close":{"price":5.23,"time":1528747200291}},"GTE":{"open":{"price":3.16,"time":1528723800017},"close":{"price":3.28,"time":1528747200061}},"HL":{"open":{"price":3.75,"time":1528723800353},"close":{"price":3.82,"time":1528747394541}},"VT":{"open":{"price":76.11,"time":1528723800077},"close":{"price":76.2,"time":1528747200465}},"FFBW":{"open":{"price":11.01,"time":1528723800533},"close":{"price":10.97,"time":1528747200472}},"FEP":{"open":{"price":40.93,"time":1528723800377},"close":{"price":41.03,"time":1528747200476}},"CYTXW":{"open":{"price":0.0179,"time":1528723800367},"close":{"price":0.0179,"time":1528747200396}},"AMH-E":{"open":{"price":25.53,"time":1528723800101},"close":{"price":25.53,"time":1528747381939}},"SBNY":{"open":{"price":130.43,"time":1528723800377},"close":{"price":127.11,"time":1528747200257}},"CRMD":{"open":{"price":0.3318,"time":1528723800024},"close":{"price":0.3114,"time":1528747200078}},"NE":{"open":{"price":5.82,"time":1528723800558},"close":{"price":5.87,"time":1528747361181}},"JRS":{"open":{"price":9.98,"time":1528723800502},"close":{"price":10.01,"time":1528747320452}},"NUROW":{"open":{"price":0.0421,"time":1528291800406},"close":{"price":0.0421,"time":1528315200179}},"FBP":{"open":{"price":8.08,"time":1528723860480},"close":{"price":7.99,"time":1528747323344}},"VCRA":{"open":{"price":28.21,"time":1528723800858},"close":{"price":28.5,"time":1528747321903}},"AIV":{"open":{"price":41.69,"time":1528723801025},"close":{"price":41.45,"time":1528747230567}},"CINF":{"open":{"price":71.47,"time":1528723800577},"close":{"price":70.53,"time":1528747200312}},"ANDV":{"open":{"price":144.87,"time":1528723808667},"close":{"price":142.87,"time":1528747209705}},"IAU":{"open":{"price":12.46,"time":1528723800084},"close":{"price":12.47,"time":1528747200461}},"JOUT":{"open":{"price":80.04,"time":1528723800627},"close":{"price":80.52,"time":1528747200203}},"GAB-D":{"open":{"price":25.88,"time":1528723800254},"close":{"price":25.88,"time":1528747321193}},"APPF":{"open":{"price":59.9,"time":1528723800651},"close":{"price":61.15,"time":1528747200409}},"SH":{"open":{"price":28.73,"time":1528723800137},"close":{"price":28.72,"time":1528747200471}},"ARKQ":{"open":{"price":35.52,"time":1528723800122},"close":{"price":36.22,"time":1528747200319}},"SHE":{"open":{"price":73.77,"time":1528723800106},"close":{"price":73.71,"time":1528747200195}},"BDL":{"open":{"price":26.5,"time":1528723800031},"close":{"price":26.35,"time":1528747200036}},"IPFF":{"open":{"price":17.8,"time":1528723800003},"close":{"price":17.69,"time":1528747200000}},"SMN":{"open":{"price":24.75,"time":1528723800094},"close":{"price":24.28,"time":1528747200180}},"ACIM":{"open":{"price":79.48,"time":1528723800104},"close":{"price":79.72,"time":1528747200182}},"FARM":{"open":{"price":29.6,"time":1528723800738},"close":{"price":29.6,"time":1528747200362}},"VXXB":{"open":{"price":32.7,"time":1528723800003},"close":{"price":32.08,"time":1528747200000}},"MHK":{"open":{"price":210.77,"time":1528723800522},"close":{"price":210.96,"time":1528747323386}},"RMP":{"open":{"price":18.96,"time":1528723800763},"close":{"price":19.63,"time":1528747321490}},"TOL":{"open":{"price":40.52,"time":1528723800757},"close":{"price":40.13,"time":1528747535100}},"CXP":{"open":{"price":22.7,"time":1528723800153},"close":{"price":22.72,"time":1528747323375}},"NGG":{"open":{"price":55.56,"time":1528723800556},"close":{"price":55.53,"time":1528747323327}},"HAIN":{"open":{"price":28.49,"time":1528723800660},"close":{"price":28.8,"time":1528747200255}},"RDVT":{"open":{"price":8.18,"time":1528723800339},"close":{"price":7.92,"time":1528747200230}},"HJLIW":{"open":{"price":0.82,"time":1528723800593},"close":{"price":0.91,"time":1528747200310}},"CX":{"open":{"price":6.03,"time":1528723800204},"close":{"price":6.19,"time":1528747420628}},"QJPN":{"open":{"price":80.43,"time":1528723800150},"close":{"price":80.673,"time":1528747200009}},"ZLAB":{"open":{"price":23.92,"time":1528723800451},"close":{"price":23.86,"time":1528747200436}},"WTW":{"open":{"price":85.68,"time":1528723800830},"close":{"price":86.9,"time":1528747323431}},"WPRT":{"open":{"price":2.55,"time":1528723800409},"close":{"price":2.51,"time":1528747200473}},"PFIN":{"open":{"price":8.6,"time":1528724150030},"close":{"price":8.33,"time":1528747200377}},"PDFS":{"open":{"price":13.1,"time":1528723800436},"close":{"price":12.92,"time":1528747200327}},"CKH":{"open":{"price":53.7,"time":1528723800053},"close":{"price":54.37,"time":1528747321105}},"MBT":{"open":{"price":9.69,"time":1528723800451},"close":{"price":9.48,"time":1528747325320}},"LKSD":{"open":{"price":13.29,"time":1528723800553},"close":{"price":13.47,"time":1528747322730}},"EDEN":{"open":{"price":66.34,"time":1528723800004},"close":{"price":66.635,"time":1528747200000}},"MGPI":{"open":{"price":94.53,"time":1528723800345},"close":{"price":90.59,"time":1528747200411}},"NAVI":{"open":{"price":14.86,"time":1528723800578},"close":{"price":14.58,"time":1528747200393}},"CTDD":{"open":{"price":23.32,"time":1528723809250},"close":{"price":22.99,"time":1528747321125}},"SN":{"open":{"price":4.05,"time":1528723800764},"close":{"price":4.22,"time":1528747321495}},"CZNC":{"open":{"price":26.29,"time":1528723800446},"close":{"price":26.01,"time":1528747200100}},"JGH":{"open":{"price":15.66,"time":1528723800354},"close":{"price":15.62,"time":1528747320941}},"CVIA":{"open":{"price":22.29,"time":1528723832604},"close":{"price":21.66,"time":1528747381931}},"DLR":{"open":{"price":109.3,"time":1528723800216},"close":{"price":109.29,"time":1528747361604}},"EWY":{"open":{"price":73.84,"time":1528723800093},"close":{"price":73.8,"time":1528747200371}},"HQL":{"open":{"price":18.85,"time":1528723800405},"close":{"price":18.8,"time":1528747321201}},"DTH":{"open":{"price":43.67,"time":1528723800117},"close":{"price":43.79,"time":1528747200230}},"CCBG":{"open":{"price":23.81,"time":1528723800505},"close":{"price":23.65,"time":1528747200179}},"CUE":{"open":{"price":14.22,"time":1528723800577},"close":{"price":14.48,"time":1528747200245}},"NATI":{"open":{"price":43.19,"time":1528723800269},"close":{"price":43.53,"time":1528747200231}},"IPG":{"open":{"price":23.11,"time":1528723809744},"close":{"price":23.59,"time":1528747373828}},"WILC":{"open":{"price":6.65,"time":1528723800337},"close":{"price":6.87,"time":1528747200002}},"IRDMB":{"open":{"price":569.11,"time":1528225685936},"close":{"price":569.11,"time":1528228800202}},"MUFG":{"open":{"price":6.19,"time":1528723900757},"close":{"price":6.19,"time":1528747481574}},"SAGE":{"open":{"price":148.53,"time":1528723800430},"close":{"price":146.93,"time":1528747200487}},"TNP-C":{"open":{"price":25.25,"time":1527600609941},"close":{"price":25.35,"time":1528749900039}},"ODFL":{"open":{"price":161.18,"time":1528723800205},"close":{"price":161.69,"time":1528747200268}},"RUSHA":{"open":{"price":44.71,"time":1528723800290},"close":{"price":44.97,"time":1528747200420}},"PBCT":{"open":{"price":19.23,"time":1528723800640},"close":{"price":19.07,"time":1528747200394}},"HGSH":{"open":{"price":2.38,"time":1528723800712},"close":{"price":2.24,"time":1528747200425}},"IBTX":{"open":{"price":76,"time":1528723800447},"close":{"price":75.25,"time":1528747200254}},"CXE":{"open":{"price":4.92,"time":1528723809226},"close":{"price":4.92,"time":1528747321415}},"EXI":{"open":{"price":93.71,"time":1528723800125},"close":{"price":93.89,"time":1528747200240}},"STLR":{"open":{"price":10.39,"time":1528742258495},"close":{"price":10.39,"time":1528747200188}},"DBEZ":{"open":{"price":31.47,"time":1528723800105},"close":{"price":31.643,"time":1528747200214}},"TNP":{"open":{"price":3.75,"time":1528723809916},"close":{"price":3.66,"time":1528747321747}},"ENX":{"open":{"price":11.24,"time":1528723800027},"close":{"price":11.25,"time":1528747200044}},"VER":{"open":{"price":7.18,"time":1528723800802},"close":{"price":7.2,"time":1528747248568}},"IPI":{"open":{"price":4.75,"time":1528723800402},"close":{"price":4.76,"time":1528747322459}},"ARTNA":{"open":{"price":38.64,"time":1528723800385},"close":{"price":37.46,"time":1528747200460}},"IR":{"open":{"price":91.55,"time":1528723800407},"close":{"price":93.03,"time":1528747454385}},"ASH":{"open":{"price":80.12,"time":1528723801006},"close":{"price":79.61,"time":1528747323157}},"SPRT":{"open":{"price":2.95,"time":1528723800705},"close":{"price":2.95,"time":1528747200014}},"AQN":{"open":{"price":9.53,"time":1528723809078},"close":{"price":9.59,"time":1528747350088}},"KBLMW":{"open":{"price":0.25,"time":1527872361645},"close":{"price":0.25,"time":1527883200310}},"RDIV":{"open":{"price":38.71,"time":1528723800116},"close":{"price":38.74,"time":1528747200308}},"DSX":{"open":{"price":4.58,"time":1528723800105},"close":{"price":4.67,"time":1528747323119}},"PMTS":{"open":{"price":2.91,"time":1528723800776},"close":{"price":2.86,"time":1528747200400}},"GABC":{"open":{"price":37.2,"time":1528723800448},"close":{"price":36.98,"time":1528747200452}},"SVT":{"open":{"price":9.17,"time":1528723800014},"close":{"price":9.19,"time":1528488000026}},"OSBC":{"open":{"price":15.15,"time":1528723800387},"close":{"price":15.2,"time":1528747200183}},"HCCI":{"open":{"price":20.8,"time":1528723800536},"close":{"price":20.8,"time":1528747200355}},"AGM-B":{"open":{"price":26.19,"time":1528723801006},"close":{"price":26.19,"time":1528747325133}},"RIBT":{"open":{"price":1.65,"time":1528723800707},"close":{"price":1.66,"time":1528747200386}},"NBEV":{"open":{"price":1.71,"time":1528723800496},"close":{"price":1.7,"time":1528747200172}},"RGS":{"open":{"price":17.51,"time":1528723800754},"close":{"price":17.56,"time":1528747321247}},"CMSSW":{"open":{"price":0.42,"time":1527269955646},"close":{"price":0.43,"time":1527278400225}},"KORP":{"open":{"price":48.58,"time":1528467153984},"close":{"price":48.54,"time":1528747200133}},"APLS":{"open":{"price":19.89,"time":1528723800180},"close":{"price":20.55,"time":1528747200260}},"VMOT":{"open":{"price":30.42,"time":1528723800004},"close":{"price":30.45,"time":1528747200000}},"ALK":{"open":{"price":62.39,"time":1528723800064},"close":{"price":62.87,"time":1528747330557}},"CDMO":{"open":{"price":3.3,"time":1528723800330},"close":{"price":3.36,"time":1528747200183}},"JCO":{"open":{"price":9.37,"time":1528119000552},"close":{"price":9.31,"time":1528747323714}},"TALO+":{"open":{"price":4.12,"time":1528723800014},"close":{"price":4.75,"time":1528747200020}},"MASI":{"open":{"price":101.58,"time":1528723800731},"close":{"price":101.14,"time":1528747200411}},"TIG":{"open":{"price":42.18,"time":1528723800495},"close":{"price":42.18,"time":1528747200438}},"SMHI":{"open":{"price":22.12,"time":1528723800707},"close":{"price":21.99,"time":1528747321608}},"ZYNE":{"open":{"price":11.23,"time":1528723800401},"close":{"price":11.29,"time":1528747200358}},"AFB":{"open":{"price":12.56,"time":1528723801005},"close":{"price":12.56,"time":1528747320711}},"DAKT":{"open":{"price":8.13,"time":1528723800334},"close":{"price":8.36,"time":1528747200116}},"AEIS":{"open":{"price":63.08,"time":1528723800532},"close":{"price":61.82,"time":1528747200254}},"LMRKP":{"open":{"price":23.9,"time":1528725095510},"close":{"price":23.78,"time":1528747200438}},"TRMK":{"open":{"price":33.48,"time":1528723800570},"close":{"price":32.94,"time":1528747200163}},"CMS":{"open":{"price":43.53,"time":1528723800105},"close":{"price":42.63,"time":1528747316090}},"FMO":{"open":{"price":11.86,"time":1528723800305},"close":{"price":12.21,"time":1528747227963}},"LD":{"open":{"price":48.73,"time":1527617798606},"close":{"price":54,"time":1528747200009}},"FTI":{"open":{"price":32.71,"time":1528723800205},"close":{"price":32.83,"time":1528747339403}},"SAP":{"open":{"price":119.31,"time":1528723800656},"close":{"price":120.01,"time":1528747320380}},"RARX":{"open":{"price":7.63,"time":1528723800610},"close":{"price":8.37,"time":1528747200385}},"BKN":{"open":{"price":13.95,"time":1528723809702},"close":{"price":13.86,"time":1528747323076}},"HFC":{"open":{"price":76.45,"time":1528723876969},"close":{"price":76.28,"time":1528747423769}},"URTH":{"open":{"price":90.
[...]
