---
http_interactions:
  - request:
      method: get
      uri: https://cloud.iexapis.com/v1/stock/market/ohlc?token=test-iex-api-publishable-token
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Content-Security-Policy:
          - "default-src 'self'; child-src 'none'; object-src 'self'; style-src
            'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self'
            https://js.intercomcdn.com/fonts/ https://fonts.gstatic.com; frame-src 'self'
            https://portal.productboard.com/ https://js.stripe.com/; img-src 'self'
            data: https://*.intercomcdn.com/ https://static.intercomassets.com/ https://www.google-analytics.com
            https://downloads.intercomcdn.com/; connect-src 'self' https://auth.iexcloud.io
            https://api.iexcloud.io https://api.iexcloud.io https://cloud.iexapis.com
            wss://iexcloud.io wss://tops.iexcloud.io wss://api.iexcloud.io wss://iexcloud.io
            https://api-iam.intercom.io/messenger/ https://nexus-websocket-a.intercom.io/
            https://nexus-websocket-b.intercom.io/ wss://nexus-websocket-a.intercom.io/
            wss://nexus-websocket-b.intercom.io/ https://www.google-analytics.com; script-src
            'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com/recaptcha/api.js
            https://www.google-analytics.com https://js.stripe.com/v3/ https://widget.intercom.io/widget/lhos563b
            https://js.intercomcdn.com/ https://www.googletagmanager.com;"
        Frame-Options:
          - SAMEORIGIN
      body:
        encoding: ASCII-8BIT
        string: '{"BXS":{"open":{"price":29.12,"time":1554384600258},"close":{"price":29.55,"time":1554408121497}},"IOTS":{"open":{"price":6.26,"time":1554384600981},"close":{"price":6.32,"time":1554408000253}},"PLD":{"open":{"price":73.15,"time":1554384600706},"close":{"price":72.85,"time":1554408097791}},"IDLV":{"open":{"price":33.01,"time":1554384600054},"close":{"price":33.08,"time":1554408000229}},"HMG":{"open":{"price":14.21,"time":1554231705572},"close":{"price":14.63,"time":1554321600048}},"DBGR":{"open":{"price":26.37,"time":1554384600038},"close":{"price":26.412,"time":1554408000137}},"OPBK":{"open":{"price":8.88,"time":1554384600472},"close":{"price":8.94,"time":1554408000174}},"WRK":{"open":{"price":39.58,"time":1554384600925},"close":{"price":39.18,"time":1554408139807}},"AEP":{"open":{"price":83.26,"time":1554384600044},"close":{"price":82.62,"time":1554408325004}},"BB":{"open":{"price":9.56,"time":1554384655647},"close":{"price":9.31,"time":1554408030356}},"SIFI":{"open":{"price":13.22,"time":1554384600748},"close":{"price":13.69,"time":1554408000672}},"STND":{"open":{"price":28.15,"time":1554384600084},"close":{"price":27.83,"time":1554408000358}},"WOR":{"open":{"price":38.89,"time":1554384600906},"close":{"price":39.56,"time":1554408121676}},"KSS":{"open":{"price":71.36,"time":1554384600463},"close":{"price":73.46,"time":1554408018596}},"IWV":{"open":{"price":169.21,"time":1554384600052},"close":{"price":169.4,"time":1554408000233}},"NWLI":{"open":{"price":264.9,"time":1554384600535},"close":{"price":265.4,"time":1554408000219}},"MEET":{"open":{"price":5.17,"time":1554384600575},"close":{"price":5.23,"time":1554408000246}},"FXF":{"open":{"price":92.99,"time":1554386956285},"close":{"price":92.965,"time":1554408000227}},"SCD":{"open":{"price":13.03,"time":1554384600601},"close":{"price":12.96,"time":1554408123433}},"ICD":{"open":{"price":2.8,"time":1554384600506},"close":{"price":2.87,"time":1554408121044}},"LBJ":{"open":{"price":22.64,"time":1554384600062},"close":{"price":24.18,"time":1554408000217}},"NMZ":{"open":{"price":13.56,"time":1554384807982},"close":{"price":13.6,"time":1554408121568}},"LYTS":{"open":{"price":2.8,"time":1554384601064},"close":{"price":2.91,"time":1554408000200}},"SN":{"open":{"price":0.3903,"time":1550586600751},"close":{"price":0.3607,"time":1550610121474}},"EWBC":{"open":{"price":50.52,"time":1554384600783},"close":{"price":51.62,"time":1554408000500}},"AFSI-F":{"open":{"price":10,"time":1549549801005},"close":{"price":9.5,"time":1549573402396}},"EFAS":{"open":{"price":16.19,"time":1554394104824},"close":{"price":16.19,"time":1554408000447}},"DHT":{"open":{"price":4.5,"time":1554384600265},"close":{"price":4.51,"time":1554408121321}},"UJPY":{"open":{"price":23.23,"time":1554298200053},"close":{"price":23.066,"time":1554408000115}},"TRNX":{"open":{"price":0.6585,"time":1554384601004},"close":{"price":0.68,"time":1554408000484}},"AEM":{"open":{"price":42.42,"time":1554384601004},"close":{"price":43.7,"time":1554408096421}},"VRTS":{"open":{"price":104.84,"time":1554384600369},"close":{"price":106.29,"time":1554408000657}},"STT-G":{"open":{"price":26.08,"time":1554384600701},"close":{"price":26.18,"time":1554408121120}},"EVG":{"open":{"price":12.96,"time":1554384600085},"close":{"price":13,"time":1554408120165}},"CBMB":{"open":{"price":12.96,"time":1554408000473},"close":{"price":12.96,"time":1554408000473}},"SJT":{"open":{"price":5.2,"time":1554384600802},"close":{"price":5.24,"time":1554408121499}},"PXR":{"open":{"price":34.77,"time":1550673000082},"close":{"price":34.925,"time":1550696400137}},"SFBS":{"open":{"price":33.88,"time":1554384600541},"close":{"price":34.34,"time":1554408000304}},"GALT":{"open":{"price":4.71,"time":1554384600436},"close":{"price":4.73,"time":1554408000340}},"BHTG":{"open":{"price":3.09,"time":1554384600362},"close":{"price":2.95,"time":1554408000524}},"AVNS":{"open":{"price":43.89,"time":1554384600157},"close":{"price":43.84,"time":1554408121339}},"FEMS":{"open":{"price":36.12,"time":1554384600085},"close":{"price":36.55,"time":1554408000430}},"MGEE":{"open":{"price":67,"time":1554384600085},"close":{"price":66.99,"time":1554408000501}},"WIX":{"open":{"price":119.5,"time":1554384600384},"close":{"price":118.65,"time":1554408000205}},"HD":{"open":{"price":198.83,"time":1554384657494},"close":{"price":200.45,"time":1554408031045}},"NEP":{"open":{"price":47.24,"time":1554384609442},"close":{"price":47.77,"time":1554408121765}},"JKS":{"open":{"price":19.72,"time":1554384600415},"close":{"price":19.82,"time":1554408123319}},"JASN":{"open":{"price":1.7,"time":1554384600824},"close":{"price":1.77,"time":1554408000464}},"EBSB":{"open":{"price":15.94,"time":1554384600780},"close":{"price":16.14,"time":1554408000480}},"DGICA":{"open":{"price":13.21,"time":1554384600637},"close":{"price":13,"time":1554408000472}},"IMRNW":{"open":{"price":1.36,"time":1554401853831},"close":{"price":1.5,"time":1554408000473}},"IGM":{"open":{"price":211.71,"time":1554384600058},"close":{"price":210.92,"time":1554408000230}},"LXU":{"open":{"price":6.25,"time":1554384600558},"close":{"price":6.49,"time":1554408121197}},"PXUS":{"open":{"price":91.45,"time":1549984019970},"close":{"price":91.45,"time":1550005200460}},"MXIM":{"open":{"price":56.78,"time":1554384600816},"close":{"price":56.93,"time":1554408000176}},"TSCO":{"open":{"price":98.1,"time":1554384600819},"close":{"price":99.59,"time":1554408000165}},"ITOT":{"open":{"price":65.38,"time":1554384600063},"close":{"price":65.47,"time":1554408000331}},"WM":{"open":{"price":102.97,"time":1554384600757},"close":{"price":102,"time":1554408134030}},"MOD":{"open":{"price":14.23,"time":1554384600651},"close":{"price":15.13,"time":1554408123078}},"DEST":{"open":{"price":2.24,"time":1554384600804},"close":{"price":2.37,"time":1554408000171}},"DSSI":{"open":{"price":9.77,"time":1554384778572},"close":{"price":10.24,"time":1554408277912}},"ORBC":{"open":{"price":6.61,"time":1554384601070},"close":{"price":6.68,"time":1554408000309}},"ASND":{"open":{"price":113.7,"time":1554384601034},"close":{"price":117.4,"time":1554408000367}},"CUTR":{"open":{"price":17.32,"time":1554384600839},"close":{"price":17.8,"time":1554408000375}},"NURE":{"open":{"price":28.98,"time":1554384600000},"close":{"price":28.837,"time":1554408000000}},"EMMS":{"open":{"price":3.63,"time":1554384600349},"close":{"price":3.64,"time":1554408000246}},"FOLD":{"open":{"price":14.06,"time":1554384600810},"close":{"price":13.91,"time":1554408000034}},"RARE":{"open":{"price":73.05,"time":1554384600594},"close":{"price":71.23,"time":1554408000532}},"SANW":{"open":{"price":2.69,"time":1554384600537},"close":{"price":2.79,"time":1554408000173}},"FOMX":{"open":{"price":3.89,"time":1554384600778},"close":{"price":3.82,"time":1554408000279}},"RCM":{"open":{"price":10.06,"time":1554384600341},"close":{"price":10.16,"time":1554408000327}},"AMR":{"open":{"price":0.225,"time":1554384601032},"close":{"price":0.2222,"time":1554408000477}},"CBND":{"open":{"price":31.8,"time":1554384600045},"close":{"price":31.79,"time":1554408000160}},"IHTA":{"open":{"price":9.99,"time":1554384600406},"close":{"price":9.92,"time":1554408121322}},"BDD":{"open":{"price":7.42,"time":1554384600051},"close":{"price":7.69,"time":1554408000117}},"CMCO":{"open":{"price":36.41,"time":1554384600584},"close":{"price":37.48,"time":1554408000322}},"RUBI":{"open":{"price":6.31,"time":1554384609772},"close":{"price":6.19,"time":1554408121615}},"SHIP":{"open":{"price":4.42,"time":1554384600985},"close":{"price":4.4,"time":1554408000425}},"MDCO":{"open":{"price":29.44,"time":1554384600915},"close":{"price":29.16,"time":1554408000677}},"BRG":{"open":{"price":10.87,"time":1554384600029},"close":{"price":11.06,"time":1554408000101}},"MDGS":{"open":{"price":3.06,"time":1554384600477},"close":{"price":2.94,"time":1554408000446}},"EMIF":{"open":{"price":28.77,"time":1554315432054},"close":{"price":28.5,"time":1554321600340}},"EIM":{"open":{"price":12.3,"time":1554384600038},"close":{"price":12.34,"time":1554408000099}},"TBIO":{"open":{"price":12.21,"time":1554384600596},"close":{"price":11.81,"time":1554408000461}},"PRIF-A":{"open":{"price":24.85,"time":1552570209629},"close":{"price":25.08,"time":1554410700027}},"PEI-C":{"open":{"price":20.99,"time":1554384609572},"close":{"price":20.9,"time":1554408121994}},"UROV":{"open":{"price":9.65,"time":1554384600629},"close":{"price":9.99,"time":1554408000327}},"SIFY":{"open":{"price":1.59,"time":1554384600746},"close":{"price":1.57,"time":1554408000645}},"IPO":{"open":{"price":31.44,"time":1554384600048},"close":{"price":30.77,"time":1554408000211}},"CMF":{"open":{"price":59.28,"time":1554384600054},"close":{"price":59.3,"time":1554408000266}},"WEYS":{"open":{"price":32.25,"time":1554384600770},"close":{"price":33,"time":1554408000249}},"BATRK":{"open":{"price":27.45,"time":1554384600817},"close":{"price":27.14,"time":1554408000645}},"FIZZ":{"open":{"price":56.68,"time":1554384600516},"close":{"price":57.5,"time":1554408000314}},"APC":{"open":{"price":44.63,"time":1554384609278},"close":{"price":45.06,"time":1554408016980}},"CSD":{"open":{"price":51.53,"time":1554384600067},"close":{"price":51.596,"time":1554408000162}},"DCPH":{"open":{"price":22.99,"time":1554384600858},"close":{"price":22.63,"time":1554408000170}},"SHY":{"open":{"price":83.88,"time":1554384601067},"close":{"price":83.89,"time":1554408000668}},"DXCM":{"open":{"price":118.45,"time":1554384600801},"close":{"price":117.16,"time":1554408000338}},"TSS":{"open":{"price":96.64,"time":1554384600806},"close":{"price":96.77,"time":1554408121414}},"BTT":{"open":{"price":22.37,"time":1554384600166},"close":{"price":22.21,"time":1554408168020}},"KEP":{"open":{"price":13.18,"time":1554384609520},"close":{"price":13.14,"time":1554408121468}},"RPUT":{"open":{"price":19.004,"time":1554384600000},"close":{"price":19.047,"time":1554408000000}},"DGL":{"open":{"price":39.52,"time":1554298200065},"close":{"price":39.68,"time":1554408000131}},"HCM":{"open":{"price":31.58,"time":1554384600299},"close":{"price":31.04,"time":1554408000388}},"TBT":{"open":{"price":33.59,"time":1554384600040},"close":{"price":33.48,"time":1554408000299}},"SPKEP":{"open":{"price":23.42,"time":1554384600952},"close":{"price":23.41,"time":1554408000378}},"VSM":{"open":{"price":50.8,"time":1554384609990},"close":{"price":51.03,"time":1554408122168}},"PLSE":{"open":{"price":16.41,"time":1554384600295},"close":{"price":16.58,"time":1554408000165}},"SLB":{"open":{"price":43.41,"time":1554384609471},"close":{"price":44.1,"time":1554408065582}},"SXC":{"open":{"price":8.66,"time":1554384600702},"close":{"price":8.92,"time":1554408122573}},"OXLC":{"open":{"price":9.81,"time":1554384600620},"close":{"price":9.79,"time":1554408000315}},"LPL":{"open":{"price":8.87,"time":1554384812191},"close":{"price":8.88,"time":1554408121483}},"DOGZ":{"open":{"price":3.54,"time":1554384600835},"close":{"price":3.56,"time":1554408000692}},"GAL":{"open":{"price":38,"time":1554384600061},"close":{"price":38.095,"time":1554408000252}},"LSTR":{"open":{"price":109.8,"time":1554384600590},"close":{"price":110.78,"time":1554408000294}},"CRUSC":{"open":{"price":99.98,"time":1553527266365},"close":{"price":99.98,"time":1553544000216}},"GSM":{"open":{"price":2.15,"time":1554384600327},"close":{"price":2.23,"time":1554408000500}},"GS-D":{"open":{"price":19.64,"time":1554384600303},"close":{"price":19.69,"time":1554408121307}},"TETF":{"open":{"price":18.19,"time":1554384600042},"close":{"price":18.362,"time":1554408000132}},"BY":{"open":{"price":18.91,"time":1554384600056},"close":{"price":18.9,"time":1554408121074}},"TNC":{"open":{"price":60.06,"time":1554384600741},"close":{"price":60.79,"time":1554408120625}},"MDYV":{"open":{"price":51.29,"time":1554384600053},"close":{"price":51.69,"time":1554408000231}},"RIGS":{"open":{"price":24.66,"time":1554384600058},"close":{"price":24.696,"time":1554408000208}},"BOKF":{"open":{"price":83.21,"time":1554384600595},"close":{"price":84.24,"time":1554408000206}},"AFGH":{"open":{"price":25.83,"time":1554384601004},"close":{"price":25.98,"time":1554408121096}},"PRAA":{"open":{"price":26.99,"time":1554384601063},"close":{"price":27.21,"time":1554408000243}},"CRMT":{"open":{"price":88.84,"time":1554384600904},"close":{"price":89,"time":1554408000269}},"FLCO":{"open":{"price":24.02,"time":1554384600041},"close":{"price":24.015,"time":1554408000113}},"IYF":{"open":{"price":120.56,"time":1554384600044},"close":{"price":120.95,"time":1554408000257}},"ATI":{"open":{"price":25.97,"time":1554384600053},"close":{"price":26.59,"time":1554408123237}},"PSB-W":{"open":{"price":24.32,"time":1554298200753},"close":{"price":24.5,"time":1554408181415}},"DELL":{"open":{"price":61.52,"time":1554384600083},"close":{"price":60.34,"time":1554408054614}},"PSI":{"open":{"price":55.39,"time":1554384600048},"close":{"price":55.59,"time":1554408000230}},"IVOO":{"open":{"price":129.99,"time":1554384600051},"close":{"price":130.43,"time":1554408000214}},"KBE":{"open":{"price":43.1,"time":1554384600059},"close":{"price":43.65,"time":1554408000273}},"TWLV":{"open":{"price":10.02,"time":1553607047253},"close":{"price":10.02,"time":1553630400384}},"ICOL":{"open":{"price":13.82,"time":1554384600054},"close":{"price":13.858,"time":1554408000195}},"DLPH":{"open":{"price":22.18,"time":1554384609231},"close":{"price":23.01,"time":1554408171359}},"MCRB":{"open":{"price":6.4,"time":1554384600748},"close":{"price":6.21,"time":1554408000260}},"COKE":{"open":{"price":289.29,"time":1554384600924},"close":{"price":294.67,"time":1554408000469}},"BPL":{"open":{"price":34.39,"time":1554384600157},"close":{"price":34.22,"time":1554408131652}},"UNF":{"open":{"price":157.43,"time":1554384600853},"close":{"price":158.72,"time":1554408121541}},"PID":{"open":{"price":16.17,"time":1554384600812},"close":{"price":16.22,"time":1554408000215}},"SRE-B":{"open":{"price":107.06,"time":1553866303343},"close":{"price":107.28,"time":1554410700002}},"ROOF":{"open":{"price":25.14,"time":1554384600060},"close":{"price":25.21,"time":1554408000192}},"HPQ":{"open":{"price":19.7,"time":1554384621866},"close":{"price":19.76,"time":1554408130003}},"FLMN":{"open":{"price":9.01,"time":1554384600926},"close":{"price":9.07,"time":1554408000227}},"EVV":{"open":{"price":12.62,"time":1554384600034},"close":{"price":12.62,"time":1554408000104}},"CSQ":{"open":{"price":12.56,"time":1554384600293},"close":{"price":12.61,"time":1554408000356}},"KCAPL":{"open":{"price":25.26,"time":1554298200799},"close":{"price":25.32,"time":1554321600229}},"FMK":{"open":{"price":34.63,"time":1554384600392},"close":{"price":34.69,"time":1554408000650}},"GLOW":{"open":{"price":0.133,"time":1554384600032},"close":{"price":0.1349,"time":1554408000088}},"ISNS":{"open":{"price":5.14,"time":1554386370005},"close":{"price":5.2,"time":1554408000251}},"STAY":{"open":{"price":18.25,"time":1554384600401},"close":{"price":18.25,"time":1554408000354}},"TRMK":{"open":{"price":34.42,"time":1554384600746},"close":{"price":34.85,"time":1554408000207}},"MAA":{"open":{"price":108.57,"time":1554384600506},"close":{"price":109.37,"time":1554408084575}},"AINC":{"open":{"price":54.9,"time":1554384600034},"close":{"price":55.27,"time":1554408000056}},"RDFN":{"open":{"price":22.61,"time":1554384601039},"close":{"price":22.8,"time":1554408000532}},"SPSC":{"open":{"price":105.12,"time":1554384600589},"close":{"price":103.43,"time":1554408000369}},"MOGO":{"open":{"price":2.34,"time":1554384906645},"close":{"price":2.34,"time":1554408000190}},"PSA-C":{"open":{"price":24.78,"time":1554211800652},"close":{"price":25.03,"time":1554408121429}},"PHYL":{"open":{"price":40.38,"time":1554216965518},"close":{"price":40.445,"time":1554408000111}},"KGC":{"open":{"price":3.33,"time":1554384662883},"close":{"price":3.47,"time":1554408146173}},"BUI":{"open":{"price":21.35,"time":1554384600101},"close":{"price":21.64,"time":1554408121174}},"CARG":{"open":{"price":41.48,"time":1554384600751},"close":{"price":41.24,"time":1554408000268}},"HSTM":{"open":{"price":28.27,"time":1554384600314},"close":{"price":28.23,"time":1554408000452}},"FMB":{"open":{"price":53.76,"time":1554384600983},"close":{"price":53.63,"time":1554408000191}},"HCHC":{"open":{"price":2.38,"time":1554384600406},"close":{"price":2.57,"time":1554408121052}},"PBFX":{"open":{"price":21.11,"time":1554384600758},"close":{"price":21.24,"time":1554408121188}},"RJZ":{"open":{"price":8.17,"time":1553607007814},"close":{"price":8.14,"time":1554408000143}},"FDTS":{"open":{"price":37.26,"time":1553866200435},"close":{"price":37.26,"time":1553889600824}},"BYLD":{"open":{"price":24.61,"time":1554384600061},"close":{"price":24.61,"time":1554408000150}},"STPZ":{"open":{"price":51.71,"time":1554384600062},"close":{"price":51.71,"time":1554408000181}},"UVE":{"open":{"price":31.85,"time":1554384600804},"close":{"price":31.75,"time":1554408122517}},"NTZ":{"open":{"price":4.87,"time":1554298309036},"close":{"price":4.87,"time":1554321781993}},"CTWS":{"open":{"price":68.55,"time":1554384600975},"close":{"price":68.92,"time":1554408000529}},"DUSA":{"open":{"price":22.98,"time":1554384600766},"close":{"price":23.1,"time":1554408000315}},"HTRB":{"open":{"price":39.78,"time":1554299701104},"close":{"price":39.68,"time":1554408000160}},"PIY":{"open":{"price":12.17,"time":1554298200553},"close":{"price":12,"time":1554408181409}},"PPT":{"open":{"price":5.12,"time":1554384600509},"close":{"price":5.14,"time":1554408123420}},"UDOW":{"open":{"price":99.79,"time":1554384600048},"close":{"price":101.51,"time":1554408000333}},"QQQE":{"open":{"price":49.19,"time":1554384600065},"close":{"price":49.02,"time":1554408000189}},"PRVB":{"open":{"price":2.33,"time":1554384600607},"close":{"price":2.34,"time":1554408000363}},"LACK":{"open":{"price":23.89,"time":1554305831891},"close":{"price":23.852,"time":1554408000151}},"CNCR":{"open":{"price":21.99,"time":1554384600601},"close":{"price":21.97,"time":1554408000317}},"CHFC":{"open":{"price":42.75,"time":1554384600588},"close":{"price":43.54,"time":1554408000455}},"CBZ":{"open":{"price":20.4,"time":1554384600109},"close":{"price":20.12,"time":1554408120866}},"IVW":{"open":{"price":174.74,"time":1554384600053},"close":{"price":174.63,"time":1554408000284}},"BJRI":{"open":{"price":45.52,"time":1554384600663},"close":{"price":47.01,"time":1554408000440}},"CYRX":{"open":{"price":12.81,"time":1554384600083},"close":{"price":13.3,"time":1554408000497}},"FNF":{"open":{"price":37.59,"time":1554384600252},"close":{"price":37.99,"time":1554408122068}},"CELH":{"open":{"price":4.2,"time":1554384600521},"close":{"price":4.22,"time":1554408000649}},"PSF":{"open":{"price":26.97,"time":1554211809758},"close":{"price":27.22,"time":1554410700032}},"AMJ":{"open":{"price":25.67,"time":1554384600032},"close":{"price":25.63,"time":1554408000218}},"DTE":{"open":{"price":124.06,"time":1554384600227},"close":{"price":122.82,"time":1554408121736}},"RORE":{"open":{"price":15.53,"time":1554384600042},"close":{"price":15.581,"time":1554408000148}},"PEI":{"open":{"price":6.14,"time":1554384609622},"close":{"price":6.08,"time":1554408121724}},"EDU":{"open":{"price":89,"time":1554384602620},"close":{"price":88.79,"time":1554408029691}},"CLDC":{"open":{"price":1.3,"time":1554384600784},"close":{"price":1.27,"time":1554408000656}},"ANH-C":{"open":{"price":24.8,"time":1553866200054},"close":{"price":24.95,"time":1554408120870}},"SCACW":{"open":{"price":0.005,"time":1553866201005},"close":{"price":0.0033,"time":1553889600605}},"PSA-U":{"open":{"price":25.4,"time":1554298200708},"close":{"price":25.45,"time":1554408121536}},"TVC":{"open":{"price":26.69,"time":1554298200912},"close":{"price":27.22,"time":1554408121666}},"CHMI-B":{"open":{"price":25.05,"time":1554125400351},"close":{"price":25.34,"time":1554408181418}},"ISRA":{"open":{"price":31.92,"time":1554384600048},"close":{"price":31.785,"time":1554408000148}},"CRM":{"open":{"price":162.67,"time":1554384620283},"close":{"price":158.52,"time":1554408047129}},"WAL":{"open":{"price":43,"time":1554384600855},"close":{"price":43.63,"time":1554408123110}},"LQD":{"open":{"price":118.2,"time":1554384600052},"close":{"price":118.36,"time":1554408000262}},"QUMU":{"open":{"price":2.6,"time":1554402148598},"close":{"price":2.55,"time":1554408000171}},"WETF":{"open":{"price":7.24,"time":1554384600772},"close":{"price":7.36,"time":1554408000283}},"FWP":{"open":{"price":1.27,"time":1554384600350},"close":{"price":1.17,"time":1554408000169}},"DAVA":{"open":{"price":27.5,"time":1554125400207},"close":{"price":27.2,"time":1554408010423}},"UAG":{"open":{"price":16.07,"time":1554396922346},"close":{"price":15.943,"time":1554408000104}},"NXQ":{"open":{"price":13.8,"time":1554384600502},"close":{"price":13.78,"time":1554408121042}},"OXM":{"open":{"price":75.83,"time":1554384600704},"close":{"price":78.04,"time":1554408121475}},"IEMG":{"open":{"price":52.68,"time":1554384600060},"close":{"price":53.01,"time":1554408000378}},"AMAL":{"open":{"price":15.57,"time":1554384601029},"close":{"price":15.64,"time":1554408000483}},"EXPI":{"open":{"price":10.5,"time":1554384600854},"close":{"price":10.11,"time":1554408000285}},"NHI":{"open":{"price":78.31,"time":1554384600703},"close":{"price":77.84,"time":1554408123086}},"ELLO":{"open":{"price":9.16,"time":1554384603831},"close":{"price":8.223,"time":1554235200040}},"RXI":{"open":{"price":115.88,"time":1554384600043},"close":{"price":116.31,"time":1554408000166}},"DVYA":{"open":{"price":43.61,"time":1554384600058},"close":{"price":43.6,"time":1554408000183}},"ABC":{"open":{"price":75.27,"time":1554384601836},"close":{"price":75.97,"time":1554408120040}},"FHLC":{"open":{"price":44.54,"time":1554384600034},"close":{"price":44.38,"time":1554408000301}},"FBIZ":{"open":{"price":20.75,"time":1554384600359},"close":{"price":20.64,"time":1554408000500}},"EFFE":{"open":{"price":25.171,"time":1554215524517},"close":{"price":25.265,"time":1554408000133}},"TANNI":{"open":{"price":25.59,"time":1554384600049},"close":{"price":26.46,"time":1554408000656}},"EP-C":{"open":{"price":52.25,"time":1554211800403},"close":{"price":52,"time":1554408121348}},"IYW":{"open":{"price":195.97,"time":1554384600045},"close":{"price":195.52,"time":1554408000242}},"HLTH":{"open":{"price":0.3401,"time":1554384600027},"close":{"price":0.3379,"time":1554408000097}},"EZPW":{"open":{"price":9.54,"time":1554384601040},"close":{"price":9.83,"time":1554408000429}},"MHLA":{"open":{"price":16.03,"time":1554298200572},"close":{"price":16.27,"time":1554408121200}},"FTNT":{"open":{"price":87.81,"time":1554384600393},"close":{"price":83.5,"time":1554408000661}},"DERM":{"open":{"price":13.76,"time":1554384600914},"close":{"price":13.41,"time":1554408000482}},"DMRE":{"open":{"price":49.14,"time":1553780069031},"close":{"price":51.056,"time":1554408000015}},"CHKP":{"open":{"price":128.11,"time":1554384601018},"close":{"price":124.22,"time":1554408000484}},"KLXE":{"open":{"price":25.82,"time":1554384600410},"close":{"price":26.83,"time":1554408000321}},"NMIH":{"open":{"price":26.25,"time":1554384600808},"close":{"price":26.64,"time":1554408000517}},"PSA-Y":{"open":{"price":25.35,"time":1550759400707},"close":{"price":25.36,"time":1550869321429}},"SWAV":{"open":{"price":30.97,"time":1554384600773},"close":{"price":30.455,"time":1554408000297}},"IRET-C":{"open":{"price":24.74,"time":1553261400563},"close":{"price":25.15,"time":1554408181407}},"SCAC":{"open":{"price":10.29,"time":1553868003917},"close":{"price":10.28,"time":1553889600512}},"PRTY":{"open":{"price":8.05,"time":1554384600753},"close":{"price":8.37,"time":1554408122022}},"EUO":{"open":{"price":25.65,"time":1554384600048},"close":{"price":25.65,"time":1554408000224}},"DUK":{"open":{"price":89.19,"time":1554384600256},"close":{"price":89.35,"time":1554408160715}},"ASPS":{"open":{"price":24.45,"time":1554384600519},"close":{"price":24.23,"time":1554408000430}},"MXDE":{"open":{"price":22.74,"time":1554125400084},"close":{"price":22.655,"time":1554408000129}},"DXJS":{"open":{"price":40.63,"time":1554389378594},"close":{"price":40.64,"time":1554408000300}},"COWNL":{"open":{"price":25.55,"time":1554389742932},"close":{"price":25.45,"time":1554408000286}},"RCS":{"open":{"price":9.45,"time":1554384600705},"close":{"price":9.72,"time":1554408102704}},"STAR":{"open":{"price":8.4,"time":1554384609810},"close":{"price":8.56,"time":1554408121742}},"HP":{"open":{"price":56.17,"time":1554384600507},"close":{"price":57.08,"time":1554408090944}},"UBFO":{"open":{"price":10.7,"time":1554384600541},"close":{"price":10.8,"time":1554408000259}},"PEP":{"open":{"price":121.81,"time":1554384600688},"close":{"price":121.47,"time":1554408000367}},"AETI":{"open":{"price":0.8486,"time":1554384600983},"close":{"price":0.8401,"time":1554408000656}},"LFACW":{"open":{"price":0.3501,"time":1554316465058},"close":{"price":0.3501,"time":1554321600429}},"AVRO":{"open":{"price":24.3,"time":1554384601051},"close":{"price":24.42,"time":1554408000526}},"OPTT":{"open":{"price":3.31,"time":1554384600429},"close":{"price":3.18,"time":1554408000647}},"CLR":{"open":{"price":44.96,"time":1554384600055},"close":{"price":45.23,"time":1554408049099}},"VCIT":{"open":{"price":86.27,"time":1554384600872},"close":{"price":86.31,"time":1554408000674}},"UEUR":{"open":{"price":17.76,"time":1554308164379},"close":{"price":17.621,"time":1554408000127}},"PLUG":{"open":{"price":2.46,"time":1554384600569},"close":{"price":2.55,"time":1554408000408}},"DOG":{"open":{"price":54.35,"time":1554384600045},"close":{"price":54.04,"time":1554408000026}},"BF.A":{"open":{"price":51.37,"time":1554384600105},"close":{"price":51.64,"time":1554408119526}},"HTBK":{"open":{"price":12.34,"time":1554384600073},"close":{"price":12.67,"time":1554408000386}},"TYD":{"open":{"price":45.46,"time":1554384600048},"close":{"price":45.265,"time":1554408000018}},"NIB":{"open":{"price":27.3,"time":1554384600059},"close":{"price":27.66,"time":1554408000259}},"MCI":{"open":{"price":15.43,"time":1554298209963},"close":{"price":15.37,"time":1554408125555}},"QTRH":{"open":{"price":1.05,"time":1554384600341},"close":{"price":1.1,"time":1554408000680}},"CLRG":{"open":{"price":23.99,"time":1554384600781},"close":{"price":24.16,"time":1554408000644}},"CPLG":{"open":{"price":12.18,"time":1554384600081},"close":{"price":12.22,"time":1554408118968}},"REDU":{"open":{"price":10.17,"time":1554384600832},"close":{"price":10.35,"time":1554408000340}},"PRIM":{"open":{"price":21.28,"time":1554384600616},"close":{"price":21.6,"time":1554408000424}},"NUDM":{"open":{"price":24.786,"time":1554384600000},"close":{"price":24.756,"time":1554408000000}},"CEI":{"open":{"price":0.362,"time":1554384600026},"close":{"price":0.3479,"time":1554408000123}},"DVOL":{"open":{"price":20.41,"time":1554407350923},"close":{"price":20.41,"time":1554408000164}},"SGOL":{"open":{"price":123.75,"time":1554384600042},"close":{"price":124.63,"time":1554408000235}},"FCCO":{"open":{"price":19.34,"time":1554384601026},"close":{"price":19.47,"time":1554408000295}},"CWBC":{"open":{"price":10.21,"time":1554407974702},"close":{"price":10.22,"time":1554408000166}},"VTNR":{"open":{"price":1.62,"time":1554384600354},"close":{"price":1.61,"time":1554408000447}},"HRI":{"open":{"price":40.4,"time":1554384600402},"close":{"price":40.94,"time":1554408122962}},"OSS":{"open":{"price":2.21,"time":1554384600704},"close":{"price":2.36,"time":1554408000257}},"CENTA":{"open":{"price":23.27,"time":1554384600559},"close":{"price":23.48,"time":1554408000348}},"SMN":{"open":{"price":26.42,"time":1554384600050},"close":{"price":25.97,"time":1554408000149}},"DTYL":{"open":{"price":80.125,"time":1553617703641},"close":{"price":80.125,"time":1553630400622}},"ABCB":{"open":{"price":35,"time":1554384601023},"close":{"price":35.66,"time":1554408000190}},"SCHK":{"open":{"price":28.22,"time":1554384600055},"close":{"price":28.26,"time":1554408000305}},"BCH":{"open":{"price":29.26,"time":1554298200053},"close":{"price":29.87,"time":1554408121043}},"GDAT":{"open":{"price":52.58,"time":1554384600046},"close":{"price":52.06,"time":1554408000159}},"NGVC":{"open":{"price":11.63,"time":1554384600651},"close":{"price":11.88,"time":1554408121439}},"FIS
[...]
